<div class="rate-card-div" id="pdfDiv" #pdfDiv>
  <em class="icon-arrow-up"  *ngIf="showToTop" (click)="goToTop()"></em>
  <div>
    <div class="pull-left">
      <div class="ui-g">
        <div class="ui-3 pr20" *ngIf="logoUrl">
          <img [src]="logoUrl" alt="logo"/>
        </div>
        <div class="ui-9">
          <h2>{{commonServ.pageSubtitle}}</h2>
          <div class="font-bold">Timeframe: {{startdate}} - {{enddate}}</div>
          <div class="font-bold">Rank: <span *ngIf="rank>0">{{ rank }}</span><span *ngIf="rank<0"> > 20</span> ({{percentOfTotal * 100 | number:'1.2-2'}}% of total spend)</div>
        </div>
      </div>

    </div>
    <div class="pull-right">
      <button class="primary-button ml20" (click)="commonServ.generatePDF(commonServ.pageSubtitle + ' Rate Card', 'pdfDiv')" [disabled]="commonServ.pdfLoading" [ngClass]="{'button-disabled': commonServ.pdfLoading}">Export
        <img src="assets/images/Downloads.svg" width="25px" height="20px" alt="icon"/>
      </button>
      <button class="primary-button ml20" (click)="editReportCard()">Edit</button>
    </div>
  </div>
  <div class="pull-right mt10"  *ngIf="commonServ.pdfLoading">Loading... Please wait</div>

  <div class="clear-both"></div>
  <hr/>
  <div *ngFor="let pa of practiceAreas;let i= index" class="mb30 mt40">
    <h4 class="mb10"><span *ngIf="!pa">Overall Spend</span><span *ngIf="pa">{{pa}}</span></h4>
    <bd-billing-totals [firm]="firm" [isReportCard]="true" [practiceArea]="pa" #billingTotals
                       *ngIf="firmId && firm"></bd-billing-totals>
    <bd-rate-card-tables [firmId]="firmId" [practiceArea]="pa"></bd-rate-card-tables>
    <hr id="hrEnd_{{i}}"/>
  </div>
</div>
