<div>
  <div *ngIf="selectedTabIndex === 1">
    <lib-bd-filters
    (sendFilters)="refreshData($event)"
    [pageName]="pageName"
    [firmId]="firmId"
    [excludeFilters]="excludeFilters"
    [collapsed]="appStateService.layout.isCollapsed"
  ></lib-bd-filters>
  </div>
</div>
<mat-tab-group animationDuration="0ms" (selectedTabChange)="changeTab($event)" style="padding-top: 20px;">
  <mat-tab label="Report Card">
    <div class="rate-card-div" id="pdfDiv" #pdfDiv>
      <em class="icon-arrow-up"  *ngIf="showToTop" (click)="goToTop()"></em>
      <div>
        <div class="pull-left">
          <div class="ui-g">
            <div class="ui-3 pr20" *ngIf="logoUrl">
              <img [src]="logoUrl" alt="logo"/>
    <!--          <img src="assets/images/aig-logo.png"/>-->
            </div>
            <div class="ui-9">
              <h2>{{commonServ.pageSubtitle}}</h2>
              <div class="font-bold">Timeframe: {{startdate}} - {{enddate}}</div>
              <div class="font-bold">Rank: <span *ngIf="rank>0">{{ rank }}</span><span *ngIf="rank<0"> > 20</span> ({{percentOfTotal * 100 | number:'1.2-2'}}% of total spend)</div>
              <div class="font-bold" *ngIf="selectedSavedFilterName!==null">Saved Filter: {{selectedSavedFilterName}}</div>
              <div class="font-bold" *ngIf="otherFirms"><i>Note: Rank and averages are based off firms available as defined by selected Timeframe and Filters.</i></div>
            </div>
          </div>
    
        </div>
        <div class="pull-right">
          <lib-bd-annotations (notesUpdated)="loadNotes($event)" #annotations></lib-bd-annotations>
          <button class="primary-button ml20" (click)="export()" [disabled]="commonServ.pdfLoading" [ngClass]="{'button-disabled': commonServ.pdfLoading}">Export
            <img src="assets/images/Downloads.svg" width="25px" height="20px" alt="icon"/>
          </button>
          <button #tooltip="matTooltip" matTooltip="Edit filters for this report" class="primary-button ml20" (click)="editReportCard()">Edit</button>
          <button *ngIf="savedReports.length > 0" #tooltip="matTooltip" matTooltip="View saved reports for {{commonServ.pageSubtitle}}" class="primary-button ml20" (click)="showSavedReports()">Saved</button>
        </div>
      </div>
      <div class="pull-right mt10"  *ngIf="commonServ.pdfLoading">Loading... Please wait</div>
    
      <div class="clear-both"></div>
      <hr/>
      <div *ngFor="let pa of practiceAreas;let i= index" class="mb30 mt40">
        <h4 class="mb10"><span *ngIf="!pa">Overall Spend</span><span *ngIf="pa">{{pa}}</span></h4>
        <bd-billing-totals [firm]="firm" [isReportCard]="true" [practiceArea]="pa" #billingTotals
                           *ngIf="firmId && firm"></bd-billing-totals>
        <bd-rate-card-tables [firmId]="firmId" [practiceArea]="pa"></bd-rate-card-tables>
        <hr id="hrEnd_{{i}}"/>
      </div>
      <div [hidden]="!commonServ.pdfLoading">
        <h4>Annotations</h4>
        <div *ngFor="let note of notes">
            <bd-annotation-labels [note]="note" [isPublicDefault]="false"></bd-annotation-labels>
            <div class="mt10" [innerHTML]="note.notes | safe: 'html'">></div>
          <hr/>
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Comparison">
    <div class="rate-card-div" id="comparisonDiv" #comparisonDiv>
      <div>
        <div class="pull-left">
          <div class="ui-g">
            <div class="ui-3 pr20" *ngIf="logoUrl">
              <img [src]="logoUrl" alt="logo"/>
            </div>
            <div class="ui-9">
              <h2>{{commonServ.pageSubtitle}}</h2>
              <div class="font-bold">Report Timeframe: {{startdate}} - {{enddate}}</div>
              <div class="font-bold">Comparison Timeframe: {{formattedComparisonStartDate}} - {{formattedComparisonEndDate}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="pull-right">
        <lib-bd-annotations (notesUpdated)="loadNotes($event)" #annotations></lib-bd-annotations>
        <button class="primary-button ml20" (click)="export()" [disabled]="commonServ.pdfLoading" [ngClass]="{'button-disabled': commonServ.pdfLoading}">Export
          <img src="assets/images/Downloads.svg" width="25px" height="20px" alt="icon"/>
        </button>
      </div>
    
      <div class="clear-both"></div>
      <hr/>
      <bd-billing-totals [firm]="firm" [isComparison]="true" #comparisonBillingTotals *ngIf="firmId && firm && selectedTabIndex === 1"></bd-billing-totals>
      <bd-spend-trend-chart *ngIf="selectedTabIndex === 1" [firmId]="firmId" [startdate]="startdate" [enddate]="enddate" [compStartDate]="comparisonStartDate" [compEndDate]="comparisonEndDate"></bd-spend-trend-chart>
    </div>
  </mat-tab>

</mat-tab-group>