<div>
  <div>
    <lib-bd-filters
      (sendFilters)="refreshData($event)"
      [pageName]="pageName"
      [pageType]="pageType"
      [firmId]="firmId"
      [excludeFilters]="excludeFilters"
      [collapsed]="appStateService.layout.isCollapsed"
    ></lib-bd-filters>
  </div>
</div>
<div class="exs-div" id="frcDiv">
  <div class="mb20">
    <div class="roboto-bold mb15"><span class="frc-button-oval pointer-hand mr10" [routerLink]="['/analytics-ui/frc-dashboard']"><em class="fa fa-chevron-left mr10"></em>Back</span></div>
    <ngb-alert type="success" *ngIf="frcCardSaved" (close)="frcCardSaved=false">
      <div class="font-green font-bold">
        Report has been saved successfully.
      </div>
    </ngb-alert>
    <div class="justify-between mr20">
      <div>
        <div class="frc-page-title roboto-bold mb15">{{ firm?.firm_name}}</div>
        <div class="roboto-bold">Timeframe: <span class="font-gray font-normal">{{ this.filterSet.startdate | date: 'MMM dd, yyyy' }} - {{ this.filterSet.enddate | date: 'MMM dd, yyyy' }}</span></div>
      </div>
      <div class="mt20">
        <button (click)="viewSavedReports()" class="primary-button mr10" *ngIf="savedReports.length > 0"><span class="mr10">View Historical Report Cards</span> <em class="fa fa-chevron-right"></em></button>
        <ng-container>
        <button (click)="addNotes('Add')" class="primary-button mr10"><span class="mr10">Add Notes</span> <em class="fa fa-chevron-right"></em></button>
        <button  (click)="openReportTitleModal()" class="primary-button mr10"><span>Save</span></button>
        <span class="pointer-hand" tooltip="Download" (click)="export()"> <img src="assets/images/downloads.png" width="36px" height="36px" alt="download"/></span>
        </ng-container>
      </div>
    </div>
    <div class="justify-between">
      <div class="mt10 width-60">
        <div ><span class="roboto-bold mr10">Comparison Firms:</span>
          <span class="totals-badge show-firms mr5 mb5" *ngIf="!hideFirms && peerFirmsNames.length>0" (click)="hideFirms =!hideFirms">Hide Firms  <em class="fa fa-chevron-up ml5"></em></span>
          <span class="totals-badge show-firms mr5 mb5" *ngIf="hideFirms" (click)="hideFirms =!hideFirms">Show Firms <em class="fa fa-chevron-down ml5"></em></span>
          <ng-container *ngIf="!hideFirms"><span class="totals-badge oval-label-white mr5 mb5" [ngClass]=" {'pointer-hand': firm.id}"
                                                 (click)=showFirm(firm.id) *ngFor="let firm of peerFirmsNames">{{firm.name}}</span></ng-container>
        </div>
        <div class="roboto-bold  mb10 mt10" *ngIf="selectedFilters.length > 0">
          <span class="roboto-bold mr15">Applied Filters:</span>
          <span *ngFor="let fltr of selectedFilters; let i = index" class="totals-badge oval-label-white mr5 mb5">
            <span *ngIf="fltr.filters.length>0">
              <span><span class="mr10">{{ fltr.filterName}}:</span> <span *ngFor="let f of fltr.filters; let i = index" class="roboto-div mr10">{{f}}</span> </span>
            </span>
          </span>
        </div>
        <div class="roboto-bold mt15">Rank: <span *ngIf="rank <= 20" class="roboto-div">{{ rank }}</span><span *ngIf="rank > 20" class="roboto-div"> > 20</span> <span class="roboto-div"> ({{percentOfTotal * 100 | number:'1.2-2'}}% of total spend)</span></div>
      </div>
      <div class="mr20">
        <span class="totals-badge oval-label-black mr5">Comparison Firms Report</span>
        <span class="totals-badge oval-label-white pointer-hand mr20" [routerLink]="['/analytics-ui/frc-trends', firmId]" >Trend Analysis Report</span>

      </div>
    </div>
    <div class="text-right" *ngIf="summaryData?.assessment">
      <span class="totals-badge oval-label-white mr20" ><span class="roboto-bold">Assessment:</span> {{summaryData?.assessment}}</span>
    </div>
    <div class="p-grid mr10 mt20">
      <div class="p-col-4 pr20" *ngFor="let metric of summaryMetrics">
        <div class="summary-card">
          <div class="summary-card-title" [ngClass]=" {'oval-label-red': metric.grade === 'POOR',
              'oval-label-green': metric.grade === 'GOOD',
              'oval-label-orange': metric.grade === 'FAIR',
              'oval-label-gray': metric.grade === 'NODATA'}">
            {{ metric.label }}: {{ metric.grade }}
          </div>
          <div class="summary-card-content">
            <div class="metric-number" [ngClass]=" {'label-red': metric.grade === 'POOR',
              'label-green': metric.grade === 'GOOD',
              'label-orange': metric.grade === 'FAIR'}"><span *ngIf="metric.format === 'dollar'">$</span>{{ metric.actual | number:'1.0-0' }}</div>
            <div class="p-grid">
              <div class="p-col-6 metric-half">
                <span class="roboto-bold">Comparison Firm Average</span><br/>
                <span *ngIf="metric.format === 'dollar'">$</span>{{ metric.firms | number:'1.0-0' }}
              </div>
              <div class="p-col-6 metric-half">
                <span class="pt10">% +/-</span><br/>
                <span [ngClass]=" {'label-red': metric.grade === 'POOR',
              'label-green': metric.grade === 'GOOD',
              'label-orange': metric.grade === 'FAIR'}">{{ metric.increase | number:'1.1-1' }}%
                  <em *ngIf=" metric.direction > 0" class="fa fa-arrow-up mr10 ml5"></em>
                  <em *ngIf=" metric.direction <= 0" class="fa fa-arrow-down ml5"></em>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt20 mb20 panel-wrapper mr20" #chartDiv *ngIf="chartMetricData && summaryData">
      <h4><img width="40px" class="mb5" alt="icon" src="assets/images/clock-sm.png"> % of Hours Worked</h4>
      <chart (load)="saveInstance($event.context)" [options]="options"></chart>
    </div>
    <div class="notes-div justify-start mb20 mr20" *ngIf="note && note?.notes && summaryData">
      <em class="icon-note" height="44px" class="mr20"></em>
      <em class="icon-note"></em>
      <div class="ml20 mr20">
        <span>REPORT CARD</span><br/><span>NOTES</span>
      </div>
      <div class="ml20 div-notes-text" [innerHTML]="note.notes | safe: 'html'"></div>
      <div>
        <div class="text-right">
          <button (click)="addNotes('Edit')" class="primary-button edit-button ml10"><span class="mr10">Edit</span> <em class="fa fa-chevron-right"></em></button>
        </div>
      </div>
    </div>
    <div class="mr20">
    <bd-frc-key-metrics *ngIf="summaryData && keyMetrics.length > 0" [keyMetrics]="keyMetrics"></bd-frc-key-metrics>
    </div>
    <div class="mr20" *ngIf="firmId && summaryData && filterSet.startdate">
      <bd-frc-timekeepers [summaryData]="summaryData" [firmId]="firmId" [filterSet] = "filterSet"></bd-frc-timekeepers>
    </div>
  </div>
  <div class="spinner-card" [hidden]="isLoaded">
    <mat-spinner diameter="50" color="primary"></mat-spinner>
  </div>
</div>
