<div class="content-body-inner-wrapper">
  <bd-ie-banner></bd-ie-banner>
  <bd-error-messages></bd-error-messages>
  <div id="filtersdiv">
    <lib-bd-filters
      (sendFilters)="getSavingsCalculator($event)"
      [pageName]="pageName"
      [collapsed]="appStateService.layout.isCollapsed"
    ></lib-bd-filters>
  </div>
  <div class="text-center">
    <h4>Calculate Your Savings</h4>
    <h5>Predicted Annual Savings</h5>
    <div class="div-grand-total">${{grandTotal  | number:'1.0-0'}}</div>
  </div>
  <div class="ui-g">
    <div class="ui-g-4">
      <bd-savings-widget *ngIf="!isLoading" #bbWidget
                         [percent]="bbPercent"
                         [total]="bbTotal"
                         [title]="'Block Billing'"
                         [savingsType]="'BlockBilling'"
                         [maxRange] = "100"
                         (changed)="updateTotals($event)"
      ></bd-savings-widget>
    </div>
  </div>
</div>
