<div class="justify-between">
  <div class="exs-title">{{title}}</div>
  <div class="mt20">
    <span class="totals-badge  mr10" [ngClass]="{'totals-numbers': index === 0, 'oval-label-white': index !== 0}">Overview</span>
    <span class="totals-badge mr10" [ngClass]="{'totals-numbers': index === 1, 'oval-label-white': index !== 1}">Staffing & Rate Analysis</span>
    <span class="totals-badge mr10" [ngClass]="{'totals-numbers': index === 2, 'oval-label-white': index !== 2}">Task & Document Analysis</span>
  </div>
</div>
