<div class="content-body-inner-wrapper">
    <bd-ie-banner></bd-ie-banner>
    <bd-error-messages></bd-error-messages>
    <div>
      <lib-bd-filters
        (sendFilters)="refreshData($event)"
        [pageName]="pageName"
        [pageType]="pageType"
        [practiceArea]="practiceArea"
        [excludeFilters]="excludeFilters"
        [collapsed]="appStateService.layout.isCollapsed"
      ></lib-bd-filters>
    </div>
    <div class="mb10">
        <mat-slide-toggle [checked]="filtersService?.includeExpenses" (change)="toggleExpenses()">Include Expenses
        </mat-slide-toggle>
        <bd-practice-area-dropdown></bd-practice-area-dropdown>
    </div>

    <div class="ui-g">

        <div class="ui-g-{{rightColsCount}} no-right-padding no-left-padding">
            <bd-billing-totals [practiceArea]="practiceArea" #billingTotals *ngIf="clientMatterType && practiceArea"></bd-billing-totals>
        </div>

    </div>

    <!-- Trend charts -->
    <div>
       <div class="no-left-padding mt15">
          <bd-score-trend [clientMatterType]="clientMatterType" [practiceArea]="clientMatterType && practiceArea" #trend></bd-score-trend>
        </div>
    </div>

    <!-- Spend by Month and Top TKs -->
    <div>
        <div class="ui-g mt15">
          <div class="ui-md-12 ui-lg-8 no-left-padding pr15">
            <bd-spend-by-month [practiceArea]="practiceArea" #spendByMonthDiv *ngIf="clientMatterType && practiceArea"></bd-spend-by-month>
          </div>
          <div class="ui-md-12 ui-lg-4 no-right-padding">
            <bd-pa-top-firms [practiceArea]="practiceArea"  #topFirms *ngIf="clientMatterType && practiceArea"></bd-pa-top-firms>
          </div>
        </div>
    </div>

    <div>
        <div class="ui-g mt15">
          <div class="ui-md-12 ui-lg-5 ui-xl-6 no-left-padding">
            <bd-top-matters [practiceArea]="practiceArea" #paTopMatters *ngIf="clientMatterType && practiceArea"></bd-top-matters>
          </div>
          <div class="ui-md-12 ui-lg-5 ui-xl-6 no-right-padding" #paTopLeadPartners>
            <bd-pa-top-lead-partners [practiceArea]="practiceArea" *ngIf="clientMatterType && practiceArea"></bd-pa-top-lead-partners>
          </div>
        </div>
    </div>

    <div>
        <div class="ui-g mt15">
          <div class="ui-md-12 ui-lg-7 ui-xl-5 no-left-padding" #diversity>
            <bd-diversity [practiceArea]="practiceArea" *ngIf="practiceArea && userService.hasEntitlement('data.analytics.diversity')"></bd-diversity>
          </div>
        </div>
    </div>

    <div class="ui-g mt15">
        <bd-utbms [practiceArea]="practiceArea" *ngIf="practiceArea && userService.hasEntitlement('analytics.utbms.codes')" style="width: 100%"></bd-utbms>
    </div>


</div>
