<div class="content-body-inner-wrapper pl10">
    <bd-ie-banner></bd-ie-banner>
    <bd-error-messages></bd-error-messages>
    <div>
      <lib-bd-filters
        (sendFilters)="refreshData($event)"
        [pageName]="pageName"
        [pageType]="pageType"
        [practiceArea]="practiceArea?.client_matter_type"
        [excludeFilters]="excludeFilters"
        [collapsed]="appStateService.layout.isCollapsed"
      ></lib-bd-filters>
    </div>
    <div class="mb10">
        <mat-slide-toggle [checked]="filtersService?.includeExpenses" (change)="toggleExpenses()">Include Expenses
        </mat-slide-toggle>
        <bd-practice-area-dropdown [practiceAreaSetting]="practiceAreaSetting"></bd-practice-area-dropdown>
    </div>

    <div class="p-grid mt15">

        <div class="p-col-{{rightColsCount}} no-right-padding no-left-padding">
            <bd-billing-totals [bodhalaPA]="bodhalaPA" [practiceArea]="practiceArea" #billingTotals *ngIf="clientMatterType && practiceArea"></bd-billing-totals>
        </div>

    </div>

    <!-- Trend charts -->
    <div>
       <div class="no-left-padding mt15">
          <bd-score-trend [bodhalaPA]="bodhalaPA" [clientMatterType]="clientMatterType" [practiceArea]="clientMatterType && practiceArea" #trend></bd-score-trend>
        </div>
    </div>

    <!-- Spend by Month and Top TKs -->
    <div>
        <div class="p-grid mt15">
          <div class="p-md-12 p-lg-8 no-left-padding pr15">
            <bd-spend-by-month [bodhalaPA]="bodhalaPA" [practiceArea]="practiceArea" #spendByMonthDiv *ngIf="clientMatterType && practiceArea"></bd-spend-by-month>
          </div>
          <div class="p-md-12 p-lg-4 pl10">
            <bd-pa-top-firms [bodhalaPA]="bodhalaPA" [practiceArea]="practiceArea"  #topFirms *ngIf="clientMatterType && practiceArea"></bd-pa-top-firms>
          </div>
        </div>
    </div>

    <div>
        <div class="p-grid mt15">
          <div class="p-md-12 p-lg-5 p-xl-6">
            <bd-top-matters [bodhalaPA]="bodhalaPA" [practiceArea]="practiceArea" #paTopMatters *ngIf="clientMatterType && practiceArea"></bd-top-matters>
          </div>
          <div class="p-md-12 p-lg-5 p-xl-6" #paTopLeadPartners>
            <bd-pa-top-lead-partners [bodhalaPA]="bodhalaPA" [practiceArea]="practiceArea" *ngIf="clientMatterType && practiceArea"></bd-pa-top-lead-partners>
          </div>
        </div>
    </div>

    <div>
        <div class="p-grid mt15">
          <div class="p-md-12 p-lg-7 p-xl-5 no-left-padding div-diversity" #diversity>
            <bd-diversity [bodhalaPA]="bodhalaPA" [practiceArea]="practiceArea" *ngIf="practiceArea && userService.hasEntitlement('data.analytics.diversity')"></bd-diversity>
          </div>
        </div>
    </div>

    <div class="p-grid mt15">
        <bd-utbms [bodhalaPA]="bodhalaPA" [practiceArea]="practiceArea" *ngIf="practiceArea && userService.hasEntitlement('analytics.utbms.codes')" style="width: 100%"></bd-utbms>
    </div>


</div>
