<div class="panel-wrapper">
  <div class="justify-between">
    <div class="justify-start">
      <div><img alt="icon" src="assets/images/{{metric?.titleMetric?.icon}}" width="40px"/></div>
      <div class="pl10">
        <div class="exs-panel-title">
          <span class="font-bold">{{ metric?.titleMetric?.label }}</span>
          {{ metric?.titleMetric?.format }}{{ metric?.titleMetric?.amount | number:'1.0-0'}}</div>
        <div *ngFor="let subMetric of metric.subMetrics" class="mt20">
          <span
            class="font-bold mr15">{{subMetric.label}}</span>${{subMetric?.amount | number:'1.0-0'}}
          <span class="ml15" [ngClass]="{'font-qbr-green': subMetric?.direction <= 0, 'font-red': subMetric?.direction > 0}">{{ subMetric?.increase | number:'1.0-0'}}%
             <em *ngIf=" subMetric?.direction > 0" class="fa fa-arrow-up mr10 ml5"></em>
            <em *ngIf=" subMetric?.direction <= 0" class="fa fa-arrow-down ml5"></em>
          </span>
        </div>
      </div>
    </div>
    <div class="valign-middle pointer-hand" *ngIf="!isAdmin" (click)="goToView(metric?.titleMetric?.label)">View All  <i class="fa fa-angle-right ml10"></i></div>
  </div>
</div>
