@import "../../../../assets/styles/colors.scss";
@import "../../../../assets/styles/variables";
.exs-panel-title {
  font-size: 24px;
}
.panel-wrapper {
  padding: 32px;
}
.valign-middle {
  display: flex;
  align-items: center;
}
