@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/variables.scss";

.areas-panel{
  width: 99%;
  display: block;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 10px;
}
.area-box {
  display:inline-block;
  width: 100%;
  min-height: 180px;
  margin-bottom: 20px;
  color: $body-color;
  border: 1px solid transparent;
  border-radius: $card-panel-radius;
  z-index: 1;
}
.left-column {
  padding: 20px 0;
  background-color: $brand-orange;
  height: 100%;
  color: #fff;
  text-align: center;
  border: 1px solid $brand-primary-light;
  border-top-left-radius: $card-panel-radius;
  border-bottom-left-radius: $card-panel-radius;
}
.right-column {
  padding: 20px;
  color: $body-color;
  background-color: #fff;
  height: 100%;
  min-height: 184.5px;
  text-align: center;
  border: 1px solid #fff;
  border-top-right-radius: $card-panel-radius;
  border-bottom-right-radius: $card-panel-radius;
}
.left-block{
  float:left;
  display:block;
  width:30%;
  padding: 20px 0;
  background-color: $brand-primary-light;
  height: 100%;
  position: relative;
  text-align: center;
  color: #fff;
}
.icon-diamond {
  color:#fff;
  margin-right: 10px;
  font-size: 2.0rem;
  position: absolute;
  top: 50%;
  left: 30%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}
.right-block{
  background-color: #fff;
  padding: 30px 40px 10px 40px;
  text-align: center !important;
  color: $body-color;
  height: 100%;
  .right-block-content {
    height: 90px;
  }
}
.area-title {
  color: $bootstrap-blue;
  font-size: 1rem;
}
.mat-icon {
  cursor: pointer;
}
.dots{
  bottom: 20px;
  color: $light-gray;
  .icon-selected {
    color: $body-color;
  }
}
.icon-lamp{
  font-size: 40px;
}

