<div class="content-body">
  <div class="panel-wrapper">
    <div class="panel-title">
      <h5>{{header}}</h5>
      <div class="pull-right pointer-hand">
        <img *ngIf="show === 'list'" src="assets/images/toggle_right.svg" alt="icon" (click)="toggle('chart')"/>
        <img *ngIf="show === 'chart'" src="assets/images/toggle_left.svg" alt="icon" (click)="toggle('list')"/>
      </div>
    </div>
    <div class="clear-both"></div>
    <div class="panel-body" #panelBody>
      <table mat-table [dataSource]="data" class="full-width" #matterTable
             *ngIf="show === 'list' && columns && isLoaded">
        <ng-container *ngFor="let col of columns" [matColumnDef]="col.field">
          <th mat-header-cell *matHeaderCellDef class="card-header">{{col.name}}</th>
          <td mat-cell *matCellDef="let row" class="card-cell">
            <bd-cell [data]="row" [column]="col" (clicked)="onClick($event)"></bd-cell>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>


      <div *ngIf="show === 'list' && cardName === 'activeSpend' && isLoaded">
        <bd-active-spend [spendData]="individualData"></bd-active-spend>
      </div>

      <div *ngIf="show === 'chart' && options" class="chart-container">
        <chart [options]="options" (load)="saveInstance($event.context)"></chart>
      </div>
    </div>
  </div>

  <div class="spinner-card" [hidden]="isLoaded">
    <mat-spinner diameter="50" color="primary"></mat-spinner>
  </div>
</div>
