@import "../../../assets/styles/colors.scss";

.content-body{
  width: 100%;
  display: inline-block;
  position: relative;
}

.panel-wrapper {

}

.panel-body {
  height: 290px;
  overflow-y: auto;
  padding: 0;
}


.card-header {
  padding: 0 2px;
}
.card-cell {
  padding: 0 2px;
}

:host ::ng-deep {
  .mat-button-toggle-group {
    height: 36px;
    .mat-button-toggle-label-content {
      line-height: 32px;
    }
  }
  .highcharts-credits {
    font-size: 1px;
  }
}

.chart-container {
  position: relative;
  width: 100%;
  chart {
    display: block;
    width: 100%;
  }
}
