<div class="content-body-inner-wrapper pl10">
  <bd-ie-banner></bd-ie-banner>
  <bd-error-messages></bd-error-messages>
  <div>
    <lib-bd-filters
      (sendFilters)="refreshData($event)"
      [pageName]="pageName"
      [pageType]="pageType"
      [firmId]="firmId"
      [excludeFilters]="excludeFilters"
      [collapsed]="appStateService.layout.isCollapsed"
    ></lib-bd-filters>
  </div>
  <div class="mb20" style="height: 36px; line-height: 24px;">
    <mat-slide-toggle *ngIf="userService.hasEntitlement('analytics.expenses')" [checked]="filtersService?.includeExpenses" (change)="toggleExpenses()" class="pt10">Include Expenses
    </mat-slide-toggle>
    <!-- analytics.frc.dashboard-->
    <button [ngClass]="userService.hasEntitlement('analytics.expenses') ? 'primary-button ml20':'primary-button'" *ngIf="firmId && userService.hasEntitlement('analytics.firm.ratecard')" (click)="viewReportCard()">View Legacy Report Card</button>
    <button class="primary-button ml10" *ngIf="firmId && userService.hasEntitlement('analytics.frc.dashboard')"  [routerLink]="['/analytics-ui/firm/frc-peer-firms', firmId]">View Firm Report Card</button>

    <button *ngIf="firmId && discountsConfig" (click)="openDiscounts()" class="primary-button ml5">View Discounts</button>
    <lib-bd-annotations *ngIf="userService.hasEntitlement('ui.annotations')" (notesUpdated)="loadNotes($event)"  #annotations></lib-bd-annotations>
    <bd-firm-dropdown></bd-firm-dropdown>
  </div>
  <div class="p-grid">
    <div class="p-col-{{12-rightColsCount}} no-left-padding pr20">
      <div class="panel-wrapper firm-data" *ngIf="firmData && firmData.num_attorneys_range">
        <h4>Firm Data
          <span class="ml10 pointer-hand" placement="right-bottom"
                [ngbPopover]="helpText"
                [openDelay]="100"
                [closeDelay]="2000"
                triggers="mouseenter:mouseleave">
          <img src="assets/images/question.svg" alt="Hint"/>
        </span>
        </h4>

        <div class="table-row">
          <div class="pull-left">Total Attorneys</div>
          <div class="pull-right font-bold">{{firmData?.num_attorneys_range}}</div>
          <div class="clear-both"></div>
        </div>
        <div class="table-row">
          <div class="pull-left">Partner %</div>
          <div class="pull-right font-bold">{{firmData?.percent_partners | number:'1.0-0'}}%</div>
          <div class="clear-both"></div>
        </div>
        <div class="table-row">
          <div class="pull-left">Associate %</div>
          <div class="pull-right font-bold">{{firmData?.percent_associates | number:'1.0-0'}}%</div>
          <div class="clear-both"></div>
        </div>
        <div class="table-row">
          <div class="pull-left">Number of Offices</div>
          <div class="pull-right font-bold">{{firmData?.num_locations | number:'1.0-0'}}</div>
          <div class="clear-both"></div>
        </div>
        <div class="table-row">
          <div class="pull-left">Leverage</div>
          <div class="pull-right font-bold">{{firmData?.firmographic_leverage | number:'1.0-2'}}</div>
          <div class="clear-both"></div>
        </div>
        <div class="table-row">
          <div class="pull-left">URL</div>
          <div class="pull-right font-bold"><a href="{{firmData?.url}}" target="_blank">{{firmData?.url}}</a></div>
          <div class="clear-both"></div>
        </div>


      </div>
    </div>
    <div class="p-col-{{rightColsCount}} no-right-padding no-left-padding">
      <bd-billing-totals [firm]="firm" #billingTotals *ngIf="firmId && firm"></bd-billing-totals>
    </div>

  </div>

  <!--Score and Trend-->
  <div>
    <div class="no-left-padding mt15">
      <bd-score-trend [firmId]="firmId" *ngIf="firmId && firm" [firm]="firmId && firm" #scoreAndTrend></bd-score-trend>
    </div>
  </div>

  <div>
    <div class="p-grid mt15">
      <div class="p-md-12 p-lg-8 no-left-padding pr15">
        <bd-spend-by-month [firmId]="firmId" #spendByMonth *ngIf="firmId && firm"></bd-spend-by-month>
      </div>
      <div class="p-md-12 p-lg-4 no-right-padding div-tks">
        <bd-top-timekeepers [firmId]="firmId"  #topTKs *ngIf="firmId && firm"></bd-top-timekeepers>
      </div>
    </div>
  </div>
  <div>

    <div class="p-grid">
    </div>
  </div>
  <div>
    <div class="p-grid mt15">
      <div class="p-md-12 p-lg-5 p-xl-4 no-left-padding" style="padding-left:0 !important">
        <bd-top-matters [firmId]="firmId" #topMatters *ngIf="firmId && firm"></bd-top-matters>
      </div>
      <div class="ui-md-12 p-lg-7 p-xl-8 div-diversity no-right-padding" #diversity>
        <lib-bd-diversity-charts [firmId]="firmId" *ngIf="firmId && userService.hasEntitlement('data.analytics.diversity')" #diversityCharts></lib-bd-diversity-charts>
      </div>
    </div>
  </div>
  <div class="p-grid mt15">
      <bd-utbms [firmId]="firmId" *ngIf="firmId && userService.hasEntitlement('analytics.utbms.codes')" style="width: 100%"></bd-utbms>
  </div>
  <div class="mt15">
    <lib-bd-annotations-display [notes]="notes"></lib-bd-annotations-display>
  </div>
</div>

