@import "../../assets/styles/colors.scss";

.table-title {
  font-size: 0.8rem;
}
.firm-data {
  font-size: 0.9rem;
  min-height: 247px;
}
.table-row {
  padding: 12px 0;
  border-bottom: 1px solid $gray-blue-bg;
}

