@import "../../../../assets/styles/colors.scss";
.dialog-title {
  font-size: 24px;
}
.cancel-button {
  background-color: $gray-blue-bg;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: $body-color;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: $body-color;
}
