<div class="report-card-cell-item" *ngIf="reportCardItem" [ngClass]="{'cell-last': isLastCell}">
    <div *ngIf="!itemRC.svg"><em class="{{itemRC.icon}}"></em></div>
    <div *ngIf="itemRC.svg" class="img-div">
      <img  src="assets/images/{{itemRC.svg}}.svg" alt="icon" [ngClass]="{'icon-lg' : itemRC.name === 'Outside Counsel Spend' || itemRC.format === 'string'}"/>
    </div>
    <div class="font-bold">
      <span *ngIf="itemRC?.format === 'currency'" [ngClass]="{'total-lg' : itemRC.name === 'Outside Counsel Spend' || itemRC.format === 'string'}">${{ itemRC.total | number:'1.0-0'}}</span>
      <span *ngIf="itemRC?.format === 'percent'">{{ itemRC.total | number:'1.2-2'}}%</span>
      <span *ngIf="itemRC?.format === 'number'">{{ itemRC.total | number:'1.2-2'}}</span>
      <span *ngIf="itemRC?.format === 'number2'">${{ itemRC.total | number:'1.2-2'}}</span>
      <span *ngIf="itemRC?.format === 'string'">{{ itemRC.total }}</span>
      <span *ngIf="!itemRC?.format">{{ itemRC.total | number:'1.0-0' }}</span>
    </div>
    <span class="cell-label" [ngClass]="{'label-lg' : itemRC.name === 'Outside Counsel Spend' || itemRC.format === 'string'}">{{ itemRC.name }}</span>
</div>
  <div class="bottom-cell-item" *ngIf="reportCardItem && itemRC.name !== 'Outside Counsel Spend' && itemRC.format !== 'string'" [ngClass]="{'cell-last': isLastCell}">
    <div class="temp">
      Avg.
      <div class="font-bold">
        <span *ngIf="itemRC?.format === 'currency'">${{ itemRC.avg | number:'1.0-0'}}</span>
        <span *ngIf="itemRC?.format === 'percent'">{{ itemRC.avg | number:'1.2-2'}}%</span>
        <span *ngIf="itemRC?.format === 'number'">{{ itemRC.avg | number:'1.2-2'}}</span>
        <span *ngIf="itemRC?.format === 'number2'">${{ itemRC.avg | number:'1.2-2'}}</span>
        <span *ngIf="!itemRC?.format">{{ itemRC.avg | number:'1.0-0' }}</span>
      </div>
    </div>
    <div class="temp">
      Diff.
      <div class="font-bold">
        <span *ngIf="itemRC.diff > 0"><em class="fa fa-arrow-up"></em> {{itemRC.diff | number:'1.0-0'}}%</span>
        <span *ngIf="itemRC.diff < 0"><em class ="fa fa-arrow-down"></em> {{itemRC.diff * -1 | number:'1.0-0'}}%</span>
        <span *ngIf="itemRC.diff === 0">0%</span>
      </div>
    </div>
</div>

  <div class="report-card-cell-item" *ngIf="comparisonItem" [ngClass]="{'cell-last': isLastCell}">
    <div *ngIf="!itemRC.svg"><em class="{{itemRC.icon}}"></em></div>
    <div *ngIf="itemRC.svg" class="img-div">
      <img src="assets/images/{{itemRC.svg}}.svg" alt="icon"/>
    </div>
    <div class="font-bold">
      <span *ngIf="itemRC?.format === 'currency'">${{ itemRC.avg | number:'1.0-0'}}</span>
      <span *ngIf="itemRC?.format === 'percent'">{{ itemRC.avg | number:'1.2-2'}}%</span>
      <span *ngIf="itemRC?.format === 'number'">{{ itemRC.avg | number:'1.2-2'}}</span>
      <span *ngIf="itemRC?.format === 'number2'">${{ itemRC.avg | number:'1.2-2'}}</span>
      <span *ngIf="!itemRC?.format">{{ itemRC.avg | number:'1.0-0' }}</span>
    </div>
    <span class="cell-label">{{ itemRC.name }}</span>
  </div>
  <div class="bottom-cell-item" *ngIf="comparisonItem" [ngClass]="{'cell-last': isLastCell}">
    <div class="temp">
      Comparison Timeframe
      <div class="font-bold">
        <span *ngIf="itemRC?.format === 'currency'">${{ itemRC.total | number:'1.0-0'}}</span>
        <span *ngIf="itemRC?.format === 'percent'">{{ itemRC.total | number:'1.2-2'}}%</span>
        <span *ngIf="itemRC?.format === 'number'">{{ itemRC.total | number:'1.2-2'}}</span>
        <span *ngIf="itemRC?.format === 'number2'">${{ itemRC.total | number:'1.2-2'}}</span>
        <span *ngIf="!itemRC?.format">{{ itemRC.total | number:'1.0-0' }}</span>
      </div>
    </div>
    <div class="temp">
      Diff.
      <div class="font-bold">
        <span *ngIf="itemRC.diff > 0"><em class="fa fa-arrow-up"></em> {{itemRC.diff | number:'1.0-0'}}%</span>
        <span *ngIf="itemRC.diff < 0"><em class ="fa fa-arrow-down"></em> {{itemRC.diff * -1 | number:'1.0-0'}}%</span>
        <span *ngIf="itemRC.diff === 0">0%</span>
      </div>
    </div>
  </div>
