<div>
  <div class="qbr-wrapper">
    <div class="qbr-panel position-relative" id="exportPage" #exportPage>
      <div class="card-title">Top Practice Areas<span class="dot-full dot-full-online"></span></div>
      <div class="p-grid mt40">
        <div class="p-md-5 no-padding">
          <bd-qbr-total-spend [qbrType]="qbrType" [totalSpendMetric]="totalSpendMetric"></bd-qbr-total-spend>
          <div class="p-grid gray-border-left mt40 position-relative">
            <span class="dot-full-right"></span>
            <div class="p-md-12 no-padding">
              <div class="justify-between ml10">
                <div>
                  <img alt="icon" src="assets/images/total_bb.svg" class="qbr-icon-sm mb5 mr10 ml20 mt2">
                  <span class="qbr-label">Block Billed</span>
                </div>
                <div>
                  <img alt="icon" src="assets/images/chart-pie.png" class="qbr-icon mb5 mr10 ml10">
                  <span class="qbr-label mr40">Hours Worked By TimeKeeper Level</span>
                </div>
              </div>
            </div>
            <!-- left side charts -->
            <div class="p-grid">
              <div class="p-md-5">

              </div>
              <div class="p-md-7">

              </div>
            </div>

          </div>
        </div>
        <!--right side-->
        <div class="p-md-7 no-padding gray-border-left position-relative">
          <bd-generic-metrics-right [rightSideMetrics]="rightSideMetrics" [qbrType]="qbrType"></bd-generic-metrics-right>
        </div>
      </div>
      <div class="page-number-circle">
        <div class="page-number">8</div>
      </div>
    </div>

  </div>
</div>
