<div>
  <div mat-dialog-title>
    <div class="pull-left"><h3 ><em class="icon-note"></em>Annotations</h3></div>
    <div class="pull-right">
      <mat-icon  [mat-dialog-close]="notes">close</mat-icon>
<!--      <em class="icon-close" [mat-dialog-close]="notes"></em>-->
    </div>
  </div>
  <div class="clear-both"></div>
  <mat-dialog-content>
    <div #topHeader></div>
    <div #modalDiv class="ml20 mr20">
      <div class="href-link-primary" (click)="scrollToId(bottomClose)" *ngIf="showToBottom">New+</div>
      <div class="dialog-content mt20">
        <div *ngFor="let note of notes">
          <div class="p-grid">
            <div class="p-col-9">
              <bd-annotation-labels [note]="note" [isPublicDefault]="isPublicDefault"></bd-annotation-labels>
              <span *ngIf="note.user_id === userService.currentUser.id">
            <mat-checkbox color="primary" [(ngModel)]="note.is_public" (ngModelChange)="setPublic(note)"></mat-checkbox>
            <span class="ml5">Public</span>
          </span>
            </div>
            <div class="p-col-3 text-right">
          <span class="text-right mb10 mr20" *ngIf="!note.editMode && note.user_id === userService.currentUser.id">
            <div class="dots-image" (clickOutside)="note.dropDownOpened = false"><img src="assets/images/dots.png" (click)="note.dropDownOpened = !note.dropDownOpened"/>
              <div class="dots-dropdown" [ngClass]="{ 'dots-dropdown-opened': note.dropDownOpened}">
                <div class="dots-dropdown-item" (click)="note.editMode=true">Edit</div>
                <div class="dots-dropdown-item" (click)="openDialog(note)">Delete</div>
              </div>
            </div>
          </span>
            </div>
          </div>


          <div *ngIf="!note.editMode">
            <div  [ngClass]="{ 'margin-note': note.user_id === userService.currentUser.id}"  [innerHTML]="note.notes | safe: 'html'">"></div>
          </div>
          <div *ngIf="note.editMode">
            <quill-editor [styles]="commonServ.editorStyle" [(ngModel)]="note.notes"
                          [modules]="quillConfig"></quill-editor>
            <div class="text-right mb10 mt10" *ngIf="note.editMode && note.user_id === userService.currentUser.id">
              <button class="primary-button cancel-button mr5" (click)="cancelEdit(note)">Cancel</button>
              <button class="primary-button" (click)="editNote(note)">Save</button>
            </div>
          </div>
          <hr/>
        </div>
      </div>
      <div class="full-width">
        <h4>Add New Annotation</h4>
        <quill-editor [styles]="commonServ.editorStyle" [(ngModel)]="newNote.notes"
                      [modules]="quillConfig"></quill-editor>
        <div class="mt10">
          <mat-checkbox color="primary"
                        [(ngModel)]="newNote.is_public">Public
          </mat-checkbox>
        </div>
        <div>
          <button class="primary-button mt10" [disabled]="!newNote.notes" (click)="addNote()">Save</button>
        </div>
      </div>
      <div #bottomClose class="pull-right">
      </div>
    </div>
  </mat-dialog-content>
</div>
