<div>
  <bd-error-messages></bd-error-messages>
  <div class="pull-left" *ngIf="reportDates">
    <div>
      <b>Selected Time Period: </b>{{reportDates.startDate | date:'mediumDate'}} - {{reportDates.endDate | date:'mediumDate'}}
      <span class="ml40 mt10 inline-block"><b>Comparison Time Period: </b>{{reportDates.comparisonStartDate | date:'mediumDate'}} - {{reportDates.comparisonEndDate | date:'mediumDate'}}</span>
    </div>

  </div>
  <div class="pull-right">
    <button class="primary-button ml20" (click)="export()"
            [disabled]="commonServ.pdfLoading" [ngClass]="{'button-disabled': commonServ.pdfLoading}">Export
      <img src="assets/images/Downloads.svg" width="25px" height="20px" alt="icon"/>
    </button>
  </div>
  <div class="clear-both"></div>
  <mat-tab-group animationDuration="0ms" (selectedTabChange)="changeTab($event)">
    <mat-tab label="Top PAs">
      <bd-qbr-top-pas *ngIf="qbrData" [qbr]="qbr" [qbrData]="qbrData">
      </bd-qbr-top-pas>
    </mat-tab>

    <mat-tab label="Executive Summary">
      <bd-qbr-executive-summary *ngIf="qbrData" [qbr]="qbr" [qbrData]="qbrData">
      </bd-qbr-executive-summary>
    </mat-tab>

    <mat-tab label="All Pages">
      <div id="exportAll" #exportAll>
        <div class="mb20">
          <bd-qbr-executive-summary *ngIf="qbrData" [qbr]="qbr" [qbrData]="qbrData">
          </bd-qbr-executive-summary>
        </div>
        <div class="mb20">
          <bd-qbr-executive-summary *ngIf="qbrData" [qbr]="qbr" [qbrData]="qbrData">
          </bd-qbr-executive-summary>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
