<div class="panel-wrapper mt20">
<p>Key Metric Definitions:</p>
<ul>
  <li><span>Overall Spend:</span> Total spend within the filtered dataset, including fee spend and AFA spend (<u>note</u>:
    if the ‘Include Expenses’ toggle is flipped on from the Bodhala landing page, this metric will include Expenses. By
    default, only Fees are included)
  </li>
  <li><span>Total Matters:</span> Count of all matters within the filtered dataset, regardless of matter status</li>
  <li><span>Total Hours: </span>Sum of all hours worked within the filtered dataset, regardless of matter status
  </li>
  <li><span>Avg. Matter Cost:</span> Sum of all TK Billing Costs (excluding expenses) on closed matters / Count of
    closed matters (<u>note</u>: this metric is never calculated using open matters)
  </li>
  <li><span>Avg. Matter Hours:</span> Sum of all hours worked on closed matters / Count of closed matters
    (<u>note</u>: this metric is never calculated using open matters)
  </li>
  <li><span>Partner Hours Worked:</span> % of hours worked by Partners, calculated as Sum of all hours worked by
    Partners / Sum of all Fee hours within the filtered dataset
  </li>
  <li><span>Associate Hours Worked:</span> % of hours worked by Associates, calculated as Sum of all hours worked by
    Associates / Sum of all Fee hours within the filtered dataset
  </li>
  <li><span>Paralegal Hours Worked:</span> % of hours worked by Paralegals, calculated as Sum of all hours worked by
    Paralegals / Sum of all Fee hours within the filtered dataset
  </li>
  <li><span>Block Billing: </span>Block billing occurs when a single attorney lumps several discrete tasks into one
    billing entry, which often results in inflated costs. Bodhala defines Block Billing as 4 or more hours on a single
    line item entry, and the Block Billing metric included here represents the % of total spend that was flagged as
    Block Billing
  </li>
  <li><span>Avg. Partner Rate:</span> Total Fee Spend worked by Partners / Total Hours worked by Partners</li>
  <li><span>Avg. Associate Rate: </span>Total Fee Spend worked by Associates / Total Hours worked by Associates</li>
  <li><span>Avg. Blended Rate:</span> Total Fee Spend worked by all timekeepers / Total Hours worked by all
    timekeepers (<u>note</u>: Blended Rate is a weighted average calculation, as it inherently factors in relative hours
    worked at different billing rates. This is a good way to quickly compare relative costs of working with different
    firms)
  </li>
  <li><span>Avg. Paralegal Rate: </span>Total Fee Spend worked by Paralegals / Total Hours worked by Paralegals</li>
  <li><span>Avg. Legal Assistant Rate: </span>Total Fee Spend worked by Legal Assistants / Total Hours worked by
    Legal Assistants
  </li>
  <li><span>% of Work by Female Attys: </span>Sum of all hours worked by timekeepers designated as Female / Total
    Hours worked within the filtered dataset
  </li>
  <li><span>% of Work by Minority Attys:</span> Sum of all hours worked by timekeepers designated as Minority (not
    White) / Total Hours worked within the filtered dataset
  </li>
</ul><p><br></p>
</div>
