<div class="panel-wrapper mt20">
  <h4>Share of work by Practice Area</h4>
  <table class="full-width mt20">
    <thead>
    <tr class="roboto-bold">
      <th>Timekeeper</th>
      <th >% of Spend</th>
      <th>% of Hours</th>
    </tr>
    </thead>
    <tr *ngFor="let tk of smartPAs">
      <td>{{ tk.client_matter_type}}</td>
      <td>{{tk.percent_of_spend | number:'1.2-2'}}%</td>
      <td>{{tk.percent_of_hours | number:'1.2-2'}}%</td>
    </tr>
  </table>
</div>
<div class="panel-wrapper mt20">
  <h4>Top 10 Timekeepers</h4>
  <table class="full-width mt20">
    <thead>
    <tr class="roboto-bold">
      <th>Timekeeper</th>
      <th >Classification</th>
      <th>Avg. Effective Rate</th>
      <th>Total Spend</th>
      <th>Total Hours</th>
    </tr>
    </thead>
    <tr *ngFor="let tk of timekeepers">
      <td>{{ tk.last_name }}, {{ tk.first_name}}</td>
      <td >{{ tk.bodhala_classification}}</td>
      <td>${{tk.avg_rate | number:'1.0-0'}}</td>
      <td>${{tk.total_billed | number:'1.2-2'}}</td>
      <td>{{tk.total_hours_billed| number:'1.0-0'}}</td>
    </tr>
  </table>
</div>
