<div class="text-right pointer-hand mb20 mr20 mt20" *ngIf="hasBodhalaPAs">
  <span class="mode-switch mode-switch-left"  [ngClass]="{'mode-switch-selected': isSmartPA === true}" (click)="switchPaMode()">Smart Practice Area</span>
  <span class="mode-switch mode-switch-right" [ngClass]="{'mode-switch-selected': isSmartPA === false}" (click)="switchPaMode()">Client Practice Area</span>
</div>
<div class="panel-wrapper position-relative mt20">
  <h4>Share of work by<span *ngIf="this.isSmartPA"> Smart</span><span *ngIf="!this.isSmartPA"> Client</span> Practice Area</h4>
  <table class="full-width mt20" *ngIf="smartPAs.length > 0">
    <thead>
    <tr class="roboto-bold">
      <th>Timekeeper</th>
      <th >% of Spend</th>
      <th>% of Hours</th>
    </tr>
    </thead>
    <tr *ngFor="let tk of smartPAs">
      <td>{{ tk.client_matter_type}}</td>
      <td>{{tk.percent_of_spend | number:'1.1-1'}}%</td>
      <td>{{tk.percent_of_hours | number:'1.1-1'}}%</td>
    </tr>
  </table>
  <div class="spinner-card" [hidden]="pasLoaded">
    <mat-spinner diameter="50" color="primary"></mat-spinner>
  </div>
</div>
<div class="panel-wrapper mt20 position-relative matters-table">
  <h4>Top 5 Matters</h4>
  <table class="full-width mt20" *ngIf="matters.length > 0">
    <thead>
    <tr class="roboto-bold">
      <th>Matter Name</th>
      <th ><span *ngIf="this.isSmartPA">Smart </span><span *ngIf="!this.isSmartPA">Client </span>Practice Area</th>
      <th>Total Billed</th>
      <th>Total Hours</th>
      <th>Blended Rate</th>
      <th>Staffing Leverage</th>
    </tr>
    </thead>
    <tr *ngFor="let tk of matters">
      <td>{{ tk.matter_name}}</td>
      <td>{{ tk.practice_area}}</td>
      <td>${{tk.matter_cost | number:'1.0-0'}}</td>
      <td>{{tk.total_hours | number:'1.0-0'}}</td>
      <td>${{tk.blended_rate | number:'1.0-0'}}</td>
      <td>{{ tk.staffing_leverage}}</td>
    </tr>
  </table>
  <div class="spinner-card" [hidden]="mattersLoaded">
    <mat-spinner diameter="50" color="primary"></mat-spinner>
  </div>
</div>
<div class="panel-wrapper mt20">
  <h4>Top 10 Timekeepers</h4>
  <table class="full-width mt20">
    <thead>
    <tr class="roboto-bold">
      <th>Timekeeper</th>
      <th >Classification</th>
      <th>Avg. Effective Rate</th>
      <th>Total Spend</th>
      <th>Total Hours</th>
    </tr>
    </thead>
    <tr *ngFor="let tk of timekeepers">
      <td>{{ tk.last_name }}, {{ tk.first_name}}</td>
      <td >{{ tk.bodhala_classification}}</td>
      <td>${{tk.avg_rate | number:'1.0-0'}}</td>
      <td>${{tk.total_billed | number:'1.0-0'}}</td>
      <td>{{tk.total_hours_billed| number:'1.0-0'}}</td>
    </tr>
  </table>
</div>
