<div class="mb20" *ngIf="userService.hasEntitlement('data.analytics.diversity')">
  <div>
    <div class="position-relative">
    <span class="toggle-button-bold mr15">Show breakdown by:</span>
    <span class="toggle-button mr5">Hours</span>
    <mat-slide-toggle (change)="toggleChartType($event)" [checked]="chartType ==='Spend'" color="primary">Spend
    </mat-slide-toggle>
    <span class="pt15">
    <span class=" toggle-button ml20 mr5">All Timekeepers</span> <mat-slide-toggle (change)="toggleTkChartType($event)"
                                                                                   [checked]="tkChartType ==='Partners Only'"
                                                                                   color="primary">
    Partners Only
  </mat-slide-toggle>
      </span>
    </div>
  </div>
  <div class="full-width mt15 p-grid" >
    <div  class="p-col-6">
      <div class="border-radius-panel p-grid mr10">
        <div class="p-col-3 left-panel">
          <em class="fa fa-users fa-2x mb10"></em><br/>
            Gender Diversity {{chartType}}<br/>
            Goal - 50%
        </div>
        <div  class="p-col-9 justify-center" #divGender>
          <chart [options]="genderChartOptions" (load)="saveInstance($event.context)"></chart>

        </div>
      </div>
    </div>
    <div  class="p-col-6">
      <div class="border-radius-panel p-grid mr10">
        <div class="p-col-3 left-panel">
          <em class="fa fa-users fa-2x mb10"></em><br/>
          Minority Diversity {{chartType}}<br/>
          Goal - 40%
        </div>
        <div class="p-col-9 justify-center" #divMinority>
          <chart [options]="minorityChartOptions" (load)="saveInstanceMinority($event.context)"></chart>
        </div>
      </div>

    </div>

  </div>

</div>
