@import "../../../assets/styles/colors.scss";

.toggle-button {
  font-family: Roboto, Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}
.toggle-button-bold {
  font-family: Roboto, Helvetica, Arial, sans-serif !important;
  font-weight: bold;
}
.left-panel {
  background-color: $body-color;
  color: #fff !important;
  text-align: center;
  text-transform: uppercase;
  padding-top: 75px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  //display: flex;
  //align-items: center;
}
.non-overview-panel {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid transparent;
}
.border-radius-panel {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid transparent;
}
:host ::ng-deep {
  .mat-slide-toggle-content {
    margin-bottom: -5px !important;
    font-weight: normal;
  }
  .mat-slide-toggle-thumb {
    background-color: $body-color;
  }
}

