<div>
  <span class="dot-full-right"></span>
</div>
<div class="justify-center ml20">
  <div class="qbr-metric-div" *ngFor="let item of metrics;let i=index;">
    <div class="qbr-metric-header justify-center">
      <div> <img alt="icon" src="assets/images/{{item.icon}}" class="qbr-icon mb5 mr10 ml10" [ngClass]="{'qbr-icon-sm': item.label && item.label === 'BPI'}"></div>
     <div class="qbr-label qbr-label-sm text-center mr40" [ngClass]="{'mt10': item.label && item.label.length < 8}">{{item.label}}</div>
    </div>
    <div class="pb20" [ngClass]="{'metrics-div-border': i > 0}">
      <div class="mb20 qbr-dollar-label">${{item.amount | number:'1.0-0'}}</div>
      <div>
        <bd-yoy-number-widget [label]="'QoQ'" [direction]="item.directionQoQ" [increase]="item.percentQoQ"
                              [size]="'md'"></bd-yoy-number-widget>
        <bd-yoy-number-widget [label]="'YoY'" [direction]="item.directionYoY" [increase]="item.percentYoY"
                              [size]="'md'"></bd-yoy-number-widget>

      </div>
    </div>
  </div>
</div>
  <div class="ml10 mt40">
    <chart [options]="options" (load)="saveInstance($event.context)"></chart>
  </div>
