@import "../../../../assets/styles/colors.scss";
.icon-pencil {
  color: #fff;
  font-weight: 600;
}
.icon-eye {
  color: #fff;
  font-weight: 600;
}
.mat-flat-button {
  margin-top: 5px;
  background: $medium-gray;
}
