<div class="ui-g  no-left-padding">
  <div class="ui-g-3  no-left-padding">
    <div class="panel-wrapper panel-wrapper-blank">
      <div class="pull-left">
        <h4>Score
          <span class="badge badge-help ml5" placement="right-bottom"
                [ngbPopover]="helpText"
                [openDelay]="100"
                [closeDelay]="2000"
                triggers="mouseenter:mouseleave"> ?
          </span>
        </h4>
      </div>
      <div class="pull-right">
        <span class="score-badge score-badge-blank">Excellent</span>
      </div>
      <div class="clear-both"></div>

      <div class="table-row mb5">
        <div class="pull-left">Leverage (Per Partner)</div>
        <div class="pull-right"><span class="score-badge">Excellent</span></div>
        <div class="clear-both"></div>
      </div>
      <div class="table-row mb5">
        <div class="pull-left">Block Billing</div>
        <div class="pull-right"><span class="score-badge score-badge-poor">Poor</span></div>
        <div class="clear-both"></div>
      </div>
      <div class="table-row mb5">
        <div class="pull-left">Matter Cost</div>
        <div class="pull-right"><span class="score-badge score-badge-fair">Fair</span></div>
        <div class="clear-both"></div>
      </div>
      <div class="table-row mb5">
        <div class="pull-left">Average Partner Rate</div>
        <div class="pull-right"><span class="score-badge">Excellent</span></div>
        <div class="clear-both"></div>
      </div>
      <div class="table-row mb5">
        <div class="pull-left">Average Associate Rate</div>
        <div class="pull-right"><span class="score-badge">Excellent</span></div>
        <div class="clear-both"></div>
      </div>
      <div class="table-row mb5">
        <div class="pull-left">Average Non-Lawyer Rate</div>
        <div class="pull-right"><span class="score-badge">Excellent</span></div>
        <div class="clear-both"></div>
      </div>
    </div>
  </div>
  <div class="ui-g-9  no-left-padding no-right-padding chart-panel">
    <div class="panel-wrapper full-width" #trendsDiv>
      <div class="tabs-panel mb10" >
      <span class="tab-button" [ngClass]="{'tab-button-selected': selectedChart === chartTypes.LEVERAGE }"
            (click)="changeViewMode(chartTypes.LEVERAGE)">Leverage</span>
        <span class="tab-button"
              [ngClass]="{'tab-button-selected': selectedChart === chartTypes.MATTER_COST}"
              (click)="changeViewMode(chartTypes.MATTER_COST)">Matter Cost</span>
        <span class="tab-button"
              [ngClass]="{'tab-button-selected': selectedChart === chartTypes.BLOCK_BILLING}"
              (click)="changeViewMode(chartTypes.BLOCK_BILLING)">Block Billing</span>
        <span class="tab-button"
              [ngClass]="{'tab-button-selected': selectedChart === chartTypes.PARTNER_RATE}"
              (click)="changeViewMode(chartTypes.PARTNER_RATE)">Partner Rate</span>
        <span class="tab-button"
              [ngClass]="{'tab-button-selected': selectedChart === chartTypes.ASSOCIATE_RATE}"
              (click)="changeViewMode(chartTypes.ASSOCIATE_RATE)">Associate Rate</span>

      </div>
      <chart [options]="options" (load)="saveInstance($event.context)"></chart>
    </div>

    <div class="spinner-card" [hidden]="isLoaded">
      <mat-spinner diameter="50" color="primary"></mat-spinner>
    </div>
  </div>
</div>
