<div>
<!--  <div *ngFor="let matter of topMatters">{{matter.name}} {{matter.id}} {{matter.total_spend | currency}} {{matter.lead_partner_name}}</div>-->
  <table mat-table [dataSource]="topMatters" class="full-width"  #matterTable>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Matter</th>
      <td mat-cell *matCellDef="let row">
        <span class="href-link" (click)="goToView(row)">{{row.name}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="total_spend">
      <th mat-header-cell *matHeaderCellDef>Spend</th>
      <td mat-cell *matCellDef="let row">
        <span class="totals-badge" *ngIf="!filtersService.includeExpenses">${{row.total_spend | number:'1.0-0'}}</span>
        <span class="totals-badge" *ngIf="filtersService.includeExpenses">${{(row.total_spend + row.total_expenses) | number:'1.0-0'}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="lead_partner_name">
      <th mat-header-cell *matHeaderCellDef>Lead Partner</th>
      <td mat-cell *matCellDef="let row">
        <span class="partner-badge">
          <img *ngIf="row?.bio_image_url" [src]="row.bio_image_url"/>
          {{row.lead_partner_name ? row.lead_partner_name : "N/A"}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="client_matter_type">
      <th mat-header-cell *matHeaderCellDef>Practice Area</th>
      <td mat-cell *matCellDef="let row">
        <span>{{row.client_matter_type}}</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="spinner-card" [hidden]="!isProgress">
    <mat-spinner diameter="50" color="primary"></mat-spinner>
  </div>
</div>
