<div>
  <div>
    <lib-bd-filters
      (sendFilters)="refreshData($event)"
      [pageName]="pageName"
      [excludeFilters]="excludeFilters"
      [collapsed]="appStateService.layout.isCollapsed"
    ></lib-bd-filters>
  </div>
</div>

<div class="pt40" id="frcDiv">
  <div class="justify-between mr20">
  <h1 class="roboto-bold">Firm Report Card Comparison</h1>
    <div>
      <span class="frc-button-oval pointer-hand mr10" [routerLink]="['/analytics-ui/frc-dashboard']"><em class="fa fa-chevron-left mr10"></em>Back</span>
      <span class="pointer-hand" tooltip="Download" (click)="export()"> <img src="assets/images/downloads.png" width="36px" height="36px" alt="download"/></span>
    </div>
  </div>

    <div class="roboto-bold  mb10 mt10" *ngIf="selectedFilters.length > 0">
      <span class="roboto-bold mr15">Applied Filters:</span>
      <span *ngFor="let fltr of selectedFilters; let i = index" class="totals-badge oval-label-white mr5 mb5">
            <span *ngIf="fltr.filters.length>0">
              <span><span class="mr10">{{ fltr.filterName}}:</span> <span *ngFor="let f of fltr.filters; let i = index" class="roboto-div mr10">{{f}}</span> </span>
            </span>
          </span>
    </div>
  <div class="justify-end mb10">
    <button *ngIf="!noFirmsSelected && formattedMetrics && formattedMetrics.length > 0" (click)="openDetails()" class="primary-button"><span class="mr10">Edit Visible Metrics</span> <em class="fa fa-chevron-right"></em></button>
  </div>

  <div class="warning-banner" *ngIf="noFirmsSelected">No comparison firms selected.</div>
<div *ngIf="!noFirmsSelected && formattedMetrics && formattedMetrics.length > 0">
  <ag-grid-angular
      #agGrid
      style="width: 100%; height:920px"
      [pagination]="false"
      class="ag-theme-alpine"
      [sideBar]="sideBarConfig"
      [rowData]="formattedMetrics"

      [suppressAggFuncInHeader]="true"
      [gridOptions]="gridOptions">
  </ag-grid-angular>
</div>
  <div class="spinner-card" [hidden]="isLoaded">
    <mat-spinner diameter="50" color="primary"></mat-spinner>
  </div>
</div>
