@import "../../../assets/styles/colors.scss";
.bm-div-wrapper {
  background-color: #fff;
  padding: 20px;
  min-height: 70vh;
}
.loading-div {
  height: 70vh;
}
.orange-button {
  font-family: Roboto Mono, "Helvetica Neue", sans-serif;
  background-color: $brand-orange;
  padding: 10px 20px;
  border-radius: 24px;
  color: $body-color;
  font-size: 14px;
}
.header-wrapper {
  background-color: $body-color;
  padding: 20px;
  color: #fff;
  font-size: 20px;
}
.header-div {
  font-family: "Source Sans Pro", sans-serif;
  border: 1px solid $gray-blue-bg;
  border-radius: 36px;
  padding: 16px;
}
.small-logo {
  width: 40px;
  margin-left: 40px;
  margin-top: 10px;
}
.summary-card-title {
  font-size: 16px;
}
.summary-card-content {
  font-size: 32px;
  font-weight: 600;
  padding-top: 25px;
  background-color: $gray-blue-bg;
}
