@import "../../../assets/styles/colors.scss";
.bm-div-wrapper {
  background-color: #fff;
  padding: 20px;
  min-height: 70vh;
}
.loading-div {
  height: 70vh;
}
.orange-button {
  padding: 10px;
  border: 1px solid $body-color;
  border-radius: 4px;
  color: $body-color;
  font-size: 14px;
}
.header-wrapper {
  background-color: #fff;
  padding: 20px 20px 0 20px;
  font-size: 20px;
}
.header-div {
  font-family: "Source Sans Pro", sans-serif;
  border: 1px solid $gray-blue-bg;
  border-radius: 36px;
  padding: 16px;
}
.small-logo {
  width: 20px;
}
.summary-card-title {
  font-size: 14px;
  font-weight: 700;
}
.summary-card-content {
  font-size: 32px;
  font-weight: 600;
  padding-top: 25px;
  background-color: $gray-blue-bg;
}
.icon-note {
  margin-left: 10px;
  color: $body-color;
}
.grid-inner {
  margin: 10px;
  border: 1px solid $light-gray;
  border-radius: 4px;
}
