<div class="panel-wrapper">
  <div class="p-grid">
    <div class="p-col-8">
      <h4>Top Timekeepers
        <span class="ml10 pointer-hand" placement="right-bottom"
              [ngbPopover]="helpText"
              [openDelay]="100"
              [closeDelay]="2000"
              triggers="mouseenter:mouseleave">
          <img src="assets/images/question.svg" alt="Hint"/>
        </span>
      </h4>
    </div>
    <div class="p-col-4">
        <span class="primary-pill table-pill-3" (click)="goToView()">View All</span>
    </div>
  </div>
  <div class="p-grid table-title">
    <div class="p-col-5">Timekeeper</div>
    <div class="p-col-3">Hourly Rate</div>
    <div class="p-col-4">Total Spend</div>
  </div>
  <div class="p-grid table-row" *ngFor="let tk of timekeepers">
    <div class="p-col-5"><span class="primary-pill">{{tk.name}}</span></div>
    <div class="p-col-3"><span class="primary-pill table-pill-2">${{tk.current_rate | number:'1.2-2'}}</span></div>
    <div class="p-col-4"><span class="primary-pill table-pill-2">${{tk.total | number:'1.0-0'}}</span></div>
  </div>
</div>

