<div style="padding: 0px 16px 16px 24px;">
  <h3>Rate Benchmarking Overview</h3>

  <div>
    <div class="pull-right mb20">
    </div>
    <div class="clear-both"></div>
    <ag-grid-angular
        #agGrid
        style="width: 100%;"
        [ngStyle]="{'height': agGridService.setGridHeight(clientRateBenchmarks, paginationPageSize) +'px'}"
        class="ag-theme-alpine"
        [pagination]="true"
        [paginationPageSize]="paginationPageSize"
        [sideBar]="sideBarConfig"
        (displayedColumnsChanged)="saveGridConfig($event)"
        (sortChanged)="saveGridConfig($event);"
        (columnResized)="saveGridConfig($event);"
        [suppressAggFuncInHeader]="true"
        [gridOptions]="gridOptions">
    </ag-grid-angular>
  </div>

</div>
