<div>
  <div *ngIf="noRecordsFound" class="mb10 mt10">No Records found</div>
  <ag-grid-angular
      #agGrid
      style="width: 100%;"
      [ngStyle]="{'height': agGridService.setGridHeight(qbrs, paginationPageSize) +'px'}"
      class="ag-theme-alpine"
      [pagination]="true"
      [paginationPageSize]="paginationPageSize"
      [sideBar]="sideBarConfig"
      (displayedColumnsChanged)="saveGridConfig($event)"
      (sortChanged)="saveGridConfig($event);"
      (columnResized)="saveGridConfig($event);"
      [suppressAggFuncInHeader]="true"
      [getRowHeight]="getRowHeight"
      [gridOptions]="gridOptions">
  </ag-grid-angular>
</div>
