.pull-right {
  padding-top: 10px
}
.es-date-range {
  display: inline;
  padding-left: 10px;
  padding-top: 20px;
  font-size: 12px;
  font-family: 'Sharp Sans';
}

.toggle {
  font-family: 'Sharp Sans';
  padding-left: 1em;
}
.toggle-label {
  padding-left: 1em;
}