
<div class="pull-right">
    <button class="primary-button ml20" (click)="commonServ.generatePDF('Executive Summary', 'executiveSummary')" [disabled]="commonServ.pdfLoading" [ngClass]="{'button-disabled': commonServ.pdfLoading}">Export
        <img src="assets/images/Downloads.svg" width="25px" height="20px" alt="icon"/>
    </button>
</div>
<br><br>
<div class="executiveSummary" id="executiveSummary">
    <bd-spend-overview></bd-spend-overview>
<!-- <div class="executiveSummary" id="executiveSummary"> -->
    <bd-es-table></bd-es-table>
</div>
