
<div class="pull-right">
  <lib-bd-annotations (notesUpdated)="loadNotes($event)" #annotations [uiId]="uiId" [isPublicDefault]="true"></lib-bd-annotations>
    <button class="primary-button ml20" (click)="export()" [disabled]="commonServ.pdfLoading" [ngClass]="{'button-disabled': commonServ.pdfLoading}">Export
        <img src="assets/images/Downloads.svg" width="25px" height="20px" alt="icon"/>
    </button>
</div>

<div>
  <div class="pull-left mt20" style="font-family: 'Sharp Sans'; font-size: 12px; padding-left: 10px;">Executive Summary Data Range: {{this.lowerDateRange}} - {{this.upperDateRange}}</div>
  <div class="pull-right mt10" style="display: inline"  *ngIf="commonServ.pdfLoading">Loading... Please wait</div>
</div>



<br><br>
<div class="executiveSummary" id="executiveSummary">
  <div *ngIf="maxDate">
    <bd-spend-overview [maxDate]="maxDate"></bd-spend-overview>
  </div>
<!-- <div class="executiveSummary" id="executiveSummary"> -->
  <div class="mt10" *ngIf="maxDate">
    <bd-es-table [maxDate]="maxDate"></bd-es-table>
  </div>
  <div [hidden]="!commonServ.pdfLoading">
    <h4>Annotations</h4>
    <div *ngFor="let note of notes">
      <bd-annotation-labels [note]="note" [isPublicDefault]="true"></bd-annotation-labels>
      <div class="mt10" [innerHTML]="note.notes | safe: 'html'"></div>
      <hr/>
    </div>
  </div>
</div>
