@import "../../assets/styles/colors.scss";
@import "../../assets/styles/_variables.scss";
$size: 13px;
.qbr-wrapper{
  //width: 90vw;
  //overflow-x: auto;
}
.qbr-panel {
  background-color: #fff;
  // border: 1px solid $qbr-primary;
  padding: 113px 113px 102px 128px;
  color: #000;
  width: 1920px;
  height: 1080px;

  border: 1px solid #fff;
  border-radius: 8px;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
  @media screen and (max-width: 1920px) {
    zoom: 88.5%;
  }
  @media screen and (max-width: 1440px) {
    zoom: 64%;
  }
  @media screen and (max-width: 1024px) {
    zoom: 42%;
  }

}
.card-title {
  font-weight: 700;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 80px;
  font-style: normal;
  line-height: 105px;
}
.qbr-subtitle {
  font-weight: 700;
  font-size: 48px;
}
.qbr-dollar-label {
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}
.dot-full {
  box-sizing: border-box;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  display: inline-block;
  background-color: $qbr-primary;
}
.dot-full-right {
  height: $size * 2;
  width: $size;
  border-bottom-right-radius: $size * 2;
  border-top-right-radius: $size * 2;
  display: inline-block;
  background-color: $qbr-primary;
  // margin-left: -8px;
}
.dot-full-right-empty {
  background-color: #fff;

}
.page-number-circle {
  width: 52.5px;
  height: 105px;
  font-size: 20px;
  border-bottom-left-radius: 52.5px;
  border-top-left-radius: 52.5px;
  display: inline-block;
  background-color:#F3F3F3;
  position: absolute;
  bottom: 0;
  right: 0;
  .page-number {
    padding-top: 32px;
    padding-left:25px;
    font-size: 24px;
  }
  // margin-left: -8px;
}
.page-number-circle-wh {
  background-color: #fff;
}
.dot-full-online {
    margin-bottom: -5px;
    margin-left: 3px;
}
.gray-border-left {
  border-left: 2px solid $qbr-border-gray;
  margin-top: 0;
  padding-top: 0;
}
.gray-border-top {
  padding-top: 30px;
  border-top: 2px solid $qbr-border-gray;
}
.qbr-label {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.03em;
}
.qbr-label-sm {
  font-size: 18px;
}
.qbr-label-xs {
  font-size: 12px;
}
.qbr-icon {
  width: 40px;
}
.qbr-icon-sm {
  width: 30px;
}
.justify-start {
  display: flex;
  justify-content: flex-start;
}
.justify-between {
  display: flex;
  justify-content: space-between;
}
.justify-around {
  display: flex;
  justify-content: space-around;
}
.justify-center {
  display: flex;
  justify-content: center;
}
.cell-center {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 62%;
  left: 22%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}
.tk-bar-lg {
  display: inline-block;
  width: 30px;
  height: 9px;
  border-radius: 4px;
  margin-bottom: 3px;
  margin-right: 5px;
}
.tk-bar-sm {
  display: inline-block;
  width: 16px;
  height: 8px;
  border-radius: 2px;
}
.partner-bar {
  background-color: $brand-blue;
}
.associate-bar {
  background-color: $brand-orange;
}
.other-bar {
  background-color: $light-gray;
}
.paralegal-bar {
  background-color: $fair-color;
}
.metrics-div-border {
  border-left: 2px solid $qbr-border-gray;
}
.qbr-metric-header {
  height: 80px;
}
.qbr-metric-div {
  width: 200px;
  text-align: center;
}
.oval-label {
  border-radius: 31px;
  font-size: 18px;
  color: #fff;
  padding: 1px 20px 3px 20px;
}
.oval-label-yellow {
  background-color: $fair-color;
}
.oval-label-black {
  background-color: #000;
}
.row-badge {
  margin-left: 30px !important;
  margin-top: 40px;
}
.row-badge-first {
  margin-top: 90px;
}


