@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/variables.scss";
.ui-g-1, .ui-g-2 {
  vertical-align: top;
  font-size: 12px;
  // color: #999999;
  padding: 10px;
}
.bm-table {
  background-color: #fff;
}

