<div class="panel-wrapper" style="height: 100%">
    <div class="ui-g">
      <div>
        <h4>Top Lead Partners
          <span class="ml10 pointer-hand" placement="right-bottom"
                [ngbPopover]="helpText"
                [openDelay]="100"
                [closeDelay]="2000"
                triggers="mouseenter:mouseleave">
            <img src="assets/images/question.svg" alt="Hint"/>
          </span>
        </h4>
      </div>
      <div class="ui-g-7">
          <span class="primary-pill table-pill-3" (click)="goToView()" style="float: right">View All</span>
      </div>
    </div>
  
  
    <div class="ui-g table-title">
      <div class="ui-g-5">Partner</div>
      <div class="ui-g-3">BPI</div>
      <div class="ui-g-4">Total Spend</div>
    </div>
    <div class="ui-g table-row" *ngFor="let partner of leadPartners">
      <div class="ui-g-5"><span class="primary-pill">{{commonServ.formatLeadPartnerName(partner.name)}}</span></div>
      <div class="ui-g-3"><span class="primary-pill table-pill-2">{{partner.bpi}}</span></div>
      <div class="ui-g-4"><span class="primary-pill table-pill-2">${{partner.total_billed | number:'1.0-0'}}</span></div>
    </div>
  </div>
