<div class="exs-div" id="matterAnalysis">
  <div class="justify-between mb20">
  <div><span class="roboto-bold">Matter Staffing Analysis</span>
    <span class="ml5 font-gray">Matter: <span *ngIf="summaryData?.matter_name">{{summaryData?.matter_name}}
    </span></span>
  </div>
    <div *ngIf="internalMatters.length > 0">
      <bd-internal-matters-overlay [matterId]="matterId" [internalMatters]="internalMatters"></bd-internal-matters-overlay>
    </div>
  </div>
  <bd-matter-title-bar [matterId]="matterId" [firmId]="firmId" [title]="'Matter Overview'" [index]="0" (firmSelected)="selectFirm($event)"
  (singleFirmLoaded)="getMatterInsight($event)"></bd-matter-title-bar>
<div class="insights-bar justify-start mt30" *ngIf="insightText">
  <img src="assets/images/logo-black-short.png" width="40px" height="44px" class="mr20"/>
  <div class="ml20 mr20">
    <span>INSIGHTS &</span><br/><span>RECOMMENDATIONS</span>
  </div>
  <div class="insights-content ml20 roboto-div" [innerHTML]="utilService.formatTextForHtml(insightText, !insightExpanded, 210)"></div>
  <div *ngIf="insightText && insightText.length > 210">
    <button  class="primary-button insights-button" *ngIf="!insightExpanded" (click)="toggleInsight(true)">Read more
      <i class="fa fa-angle-down ml10"></i></button>
    <button  class="primary-button insights-button" *ngIf="insightExpanded" (click)="toggleInsight(false)">Close
      <i class="fa fa-angle-up ml10"></i></button>
  </div>
</div>
  <bd-matter-summary-card *ngIf="summaryData"
                          [page]="'Overview'"
                          [summaryData]="summaryData"
                          [marketData]="marketData"
                          [marketRecords]="marketRecords"></bd-matter-summary-card>
  <bd-matter-totals-metrics *ngIf="matterId" [firmId]="firmId" [matterId]="matterId" (dataLoaded)="assignData($event)" #totalMetrics></bd-matter-totals-metrics>
  <bd-matter-documents [numRecords]="3" [matterId]="matterId" [page]="'Overview'"></bd-matter-documents>
  <bd-matter-total-spend *ngIf="summaryData"
                         [page]="'Overview'"
                         [summaryData]="summaryData"
                         [marketData]="marketData"
                         [internalData]="internalData"
                         [marketRecords]="marketRecords"
                         [internalRecords]="internalRecords"
                         [metricType]="'TotalSpend'"></bd-matter-total-spend>

  <div class="spinner-card" [hidden]="summaryData">
    <mat-spinner diameter="50" color="primary"></mat-spinner>
  </div>
</div>
