@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/variables";
.exs-div {
  margin-left: 10px;
  mragin-right: 10px;
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.exs-panel-title {
  font-size: 24px;
  font-weight: 700;
}
.insights-bar {
  border: 1px solid $light-gray;
  color: $body-color;
  padding: 32px;
  border-radius: 12px;
  position: relative;
}
.insights-title {
  color: $orange-color;
}
.insights-blue {
  color: $brand-blue;
}
.insights-content {
  width: 830px;
  color: $body-color;
}
.insights-button {
  position: absolute;
  top: 40px;
  right: 40px;
  background-color: $light-gray;
  font-size: 12px;
  color: $body-color;
  width: 110px;
}
td, th {
  padding : 15px 0;
  border-bottom: 1px solid $light-gray;
}

