@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/_variables.scss";

.p-grid {
  margin-top: 70px;
  min-height: 71%;
}
.qbr-rec-subtitle {
  font-size: 42px;
  color: $brand-orange;
}
.qbr-rec-headline {
  font-size: 36px;
  color: $brand-orange;
  font-family: "Roboto Bold";
}
.qbr-rec-add-info {
  font-size: 28px;
}
.qbr-icon-title {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: -10px;
  min-height: 60px;
}
.qbr-recommendation-text {
  font-size: 22px;
}
.blue-line-labels {
  position: absolute;
  top: 500px;
  left: 10px;
  z-index: 2;
  .numbers {
    font-size: 36px;
    font-family: "Roboto Bold";
    font-weight: 700;
  }
  .labels {
    font-size: 22px;
  }
}
:host ::ng-deep {
  .p-md-4 {
    padding-top: 0 !important;
  }
}
