<div class="ui-g  no-left-padding">
    <div class="ui-g-12  no-left-padding no-right-padding chart-panel">
      <div class="tabs-panel">
          <span class="tab-button tab-button-first"
                [ngClass]="{'tab-button-selected-first': selectedChart === chartTypes.LEVERAGE }"
                (click)="changeViewMode(chartTypes.LEVERAGE)">Leverage</span>
        <span class="tab-button"
              [ngClass]="{'tab-button-selected': selectedChart === chartTypes.MATTER_COST}"
              (click)="changeViewMode(chartTypes.MATTER_COST)">Matter Cost</span>
        <span class="tab-button"
              [ngClass]="{'tab-button-selected': selectedChart === chartTypes.BLOCK_BILLING}"
              (click)="changeViewMode(chartTypes.BLOCK_BILLING)">Block Billing</span>
        <span class="tab-button"
              [ngClass]="{'tab-button-selected': selectedChart === chartTypes.PARTNER_RATE}"
              (click)="changeViewMode(chartTypes.PARTNER_RATE)">Partner Rate</span>
        <span class="tab-button"
              [ngClass]="{'tab-button-selected': selectedChart === chartTypes.ASSOCIATE_RATE}"
              (click)="changeViewMode(chartTypes.ASSOCIATE_RATE)">Associate Rate</span>
  
      </div>
      <div class="panel-wrapper-chart full-width" #trendsDiv>
        <chart [options]="options" (load)="saveInstance($event.context)"></chart>
      </div>
      <div class="spinner-card" [hidden]="isLoaded">
        <mat-spinner diameter="50" color="primary"></mat-spinner>
      </div>
    </div>
  </div>
  
