<div style="padding: 0px 16px 16px 24px; background: #E9F1F4;" id="exportDiv">

  <div style="display: inline-flex;">
    <button class="back-button" (click)="goBack()" data-html2canvas-ignore="true" style="height: 42px;"><i class="fa fa-chevron-left" style="font-size: 12px; margin-right: 6px !important;"></i> Back</button>

    <div style="display: inline !important; background: white; border-radius: 16px; margin: 0px 32px; padding: 8px 16px; max-height: 124px; width: 480px;" *ngIf="benchmark">
      <div style="display: inline !important; background: white; border-radius: 16px;">
        <p style="margin-bottom: 0px; line-height: 1.5em;">
          <span style="padding-left: 0em !important; font-family: 'Roboto Bold'; font-size: 16px !important;">Firm: </span>
          <span style="color: #000000; font-family: 'Roboto' !important; font-size: 16px;"> {{firmName}}</span>
        </p>

        <p style="margin-bottom: 0px; line-height: 1.5em;">
          <span style="padding-left: 0em !important; font-family: 'Roboto Bold'; font-size: 16px !important;">Practice Area(s): </span>
          <span *ngIf="practiceArea.length < 12" style="color: #000000; font-family: 'Roboto' !important; font-size: 16px;">
            <!-- {{practiceArea}} -->
            <div style="display: inline;" *ngFor="let pa of practiceArea; let last = last;">
              <span *ngIf="!last">{{pa}}, </span>
              <span *ngIf="last">{{pa}}</span>
            </div>
          </span>
          <span *ngIf="practiceArea.length === 12" style="color: #000000; font-family: 'Roboto' !important; font-size: 16px;">All PAs</span>
        </p>

        <p style="margin-bottom: 0px; line-height: 1.5em;">
          <span class="header-span" style="padding-left: 0em !important; font-family: 'Roboto Bold'; font-size: 16px !important;">Year(s): </span>
          <span *ngIf="year.length === 1" style="color: #000000; font-family: 'Roboto' !important; font-size: 16px;"> {{year}}</span>
          <span *ngIf="year.length > 1" style="display: inline; color: #000000; font-family: 'Roboto' !important; font-size: 16px;">
            <div style="display: inline;" *ngFor="let y of year; let last = last;">
              <span *ngIf="!last">{{y}}, </span>
              <span *ngIf="last">{{y}}</span>
            </div>
          </span>
        </p>

      </div>
    </div>

    <div class="peer-firms" *ngIf="loaded">
      <bd-comparison-firms [marketFirms]="marketAvgFirms" [panelFirms]="internalFirms" [benchmark]="benchmark"></bd-comparison-firms>
    </div>

  </div>

  <h3 style="padding-bottom: 20px;">Rate Benchmarking Overview</h3>

  <div class="nav-wrapper">
    <div class="nav-pill" style="order: 0; background: black; color: white;">
      Rates Overview
    </div>
    <div class="nav-pill" style="order: 1;" (click)="goToDetail()">
      Timekeeper Level Analysis
    </div>
    <div [hidden]="!userService.hasEntitlement('rate.benchmarking.tks')" class="nav-pill" style="order: 2;" (click)="goToNamedTKPage()">
      Named Timekeeper Analysis
    </div>
    <button #tooltip="matTooltip" matTooltip="Export this page to PDF" data-html2canvas-ignore="true" class="download-button" (click)="export()" [disabled]="commonServ.pdfLoading" [ngClass]="{'button-disabled': commonServ.pdfLoading}">
      <img src="assets/images/Downloads.svg" style="filter: invert(100%) sepia(90%) saturate(39%) hue-rotate(135deg) brightness(110%) contrast(111%);" width="16px" height="16px" alt="icon"/>
    </button>
  </div>

  <div class="p-grid"  style="flex-wrap: nowrap !important;">
    <!-- [ngStyle]="{'background-color': costImpactColor} -->
    <div class="p-md-12 p-lg-6 pl8 pr15" [ngStyle]="setStyle()" style="width: 48% !important; margin-right: 20px; margin-left: 0.5em; padding: 16px; border-radius: 24px 24px 24px 24px; height: 175px;"> <!-- [ngStyle]="{'background-color': costImpactColor}"-->
      <img src="assets/images/bills-white.svg" alt="icon" style="margin-left: 1em; margin-bottom: 0.5em; height: 36px;"/>
      <span class="header-span" style="font-family: 'Roboto'; font-weight: 600; padding-left: 1em; color: white;">
        <span *ngIf="year.length === 1">{{year}}</span><span *ngIf="year.length > 1">Total</span> Cost Impact:
        <span class="header-span" style="font-size: 24px !important; color: white; padding-left: 0px !important; font-weight: 600;">
          {{costImpactGrade}}
        </span>
      </span>
      <div style="display: flex; justify-content: center; align-items: center; font-size: 40px; font-family: 'Roboto Bold'" [ngStyle]="{'color': costImpactColor}">

        <span style="padding-top: 8px;" *ngIf="blendedWithinRange && loaded">
          <span style="font-size: 22px; color: black; font-family: 'Roboto';">You paid</span>
          ~{{costImpactLowerFormatted}} </span>
        <span style="padding-top: 8px;" *ngIf="!blendedWithinRange && loaded">
          <span style="font-size: 22px; color: black; font-family: 'Roboto';">You paid</span>
           ~{{costImpactLowerFormatted}} - {{costImpactUpperFormatted}} </span>
      </div>

      <div style="display: flex; justify-content: center; align-items: center; font-size: 22px; font-family: 'Roboto'">
        <span *ngIf="blendedWithinRange"><span style="font-style: italic; font-family: 'Roboto Bold' !important; text-decoration: underline;">MORE</span> than if you paid the lowest market rates</span>
        <span *ngIf="!blendedWithinRange && costImpactLower > 0 && costImpactUpper > 0"><span style="font-style: italic; font-family: 'Roboto Bold' !important; text-decoration: underline;">MORE</span> than if your rates were within the market average</span>
        <span *ngIf="!blendedWithinRange && costImpactLower <= 0 && costImpactUpper < 0"><span style="font-style: italic; font-family: 'Roboto Bold' !important; text-decoration: underline;">LESS</span> than if your rates were within the market average</span>
      </div>

    </div>

    <div class="p-md-12 p-lg-6 pl8 pr15" style="width: 48% !important; margin-right: 20px; margin-left: 0.5em; padding: 16px; border-radius: 24px 24px 24px 24px; height: 175px; background-image: linear-gradient(bottom, #FFFFFF 67%, #000000 33%); background-image: -o-linear-gradient(bottom, #FFFFFF 67%, #000000 33%); background-image: -moz-linear-gradient(bottom, #FFFFFF 67%, #000000 33%);  background-image: -webkit-linear-gradient(bottom, #FFFFFF 67%, #000000 33%);  background-image: -ms-linear-gradient(bottom, #FFFFFF 67%, #000000 33%);">
      <em class="icon-note" style="margin-left: 1em; margin-bottom: 0.5em; height: 36px; color: white;"></em>
      <!-- <span style="font-size: 24px; font-family: 'Roboto'; font-weight: 600; padding-left: 1em; color: white;">{{year}} Spend: {{firmTotalSpendFormatted}}</span> -->
      <span style="font-size: 24px; font-family: 'Roboto'; font-weight: 600; padding-left: 1em; color: white;"><span *ngIf="year.length === 1">{{year}}</span><span *ngIf="year.length > 1">Total</span> Spend: {{firmTotalSpendFormatted}}</span>
      <span class="ml10 pointer-hand" placement="bottom"
                [ngbPopover]="totalSpendText"
                popoverTitle="Total Spend"
                [openDelay]="100"
                [closeDelay]="2000"
                triggers="mouseenter:mouseleave"
                style="position: absolute; margin-top: 0.75em; height: 16px; width: 16px; color: black !important; background: #D6DEE1; border-radius: 16px; font-size: 13px;justify-content: center; align-items: center; display: inline-flex; font-family: 'Roboto';">?
      </span>
      <div style="display: flex; padding-top: 0.5em;" *ngIf="loaded">
        <div style="width: 50%; display: inline-flex; border-right: 2px solid #E9F1F4; padding-left: .5em;">
          <chart [options]="optionsTotal" (load)="saveInstanceTotal($event.context)"></chart>
          <div style="display: inline; padding-top: 1em">
            <span style="font-size: 32px; font-family: 'Roboto Bold';">{{pctOfTotalSpend}}</span><br>
            <span style="font-size: 16px; font-family: 'Roboto';">of
              <span *ngIf="year.length === 1">{{year}}</span>
              Total Spend</span>
          </div>

        </div>
        <div style="width: 50%; display: inline-flex; padding-left: 1em;">
          <chart style="display: inline;" [options]="optionsTotalPA" (load)="saveInstancePATotal($event.context)"></chart>
          <div style="display: inline;">
          </div>
          <div style="display: inline; padding-top: 1em;">
            <span style="font-size: 32px; font-family: 'Roboto Bold';">{{pctOfPASpend}}</span><br>
            <span style="font-size: 16px; font-family: 'Roboto';" *ngIf="practiceArea.length === 1">of <span *ngIf="year.length === 1">{{year}}</span> {{practiceArea}} <span *ngIf="year.length > 1"> Total </span>Spend</span>
            <span style="font-size: 16px; font-family: 'Roboto';" *ngIf="practiceArea.length > 1">of <span *ngIf="year.length === 1">{{year}}</span>  Combined PA <span *ngIf="year.length > 1">Total </span>Spend</span>
          </div>

        </div>
      </div>

    </div>

  </div>

  <div class="insights-bar justify-start mt30" *ngIf="insightText">
    <img src="assets/images/logo-black-short.png" width="40px" height="44px" class="mr20"/>
    <div class="ml20 mr20">
      <span>INSIGHTS &</span><br/><span>RECOMMENDATIONS</span>
    </div>
    <div class="insights-content ml20 roboto-div" [innerHTML]="utilService.formatTextForHtml(insightText, !insightExpanded, 210)"></div>
    <div *ngIf="insightText && insightText.length > 210">
      <button  class="primary-button insights-button" *ngIf="!insightExpanded" (click)="toggleInsight(true)">Read more
        <i class="fa fa-angle-down ml10"></i></button>
      <button  class="primary-button insights-button" *ngIf="insightExpanded" (click)="toggleInsight(false)">Close
        <i class="fa fa-angle-up ml10"></i></button>
    </div>
  </div>

  <div class="panel-wrapper mt40" style="padding: 0px !important;">
    <div style="border-bottom: 2px solid #E9F1F4; padding: 32px;">
      <span class="header-span">Historical Blended Rate</span>
    </div>
    <div>
      <bd-rate-analysis-chart *ngIf="loaded" [benchmark]="benchmark" [selectedFirm]="firmName" [selectedFirmData]="firmYearData"
                              [rateType]="'Blended'"></bd-rate-analysis-chart>
    </div>
  </div>

  <div class="panel-wrapper mt40" style="padding: 0px !important;">
    <div style="border-bottom: 2px solid #E9F1F4; padding: 32px;">
      <span class="header-span" style="display: inline; font-size: 24px !important; padding-left: 1em;">Historical Partner Rate</span>
    </div>

    <div>
      <bd-rate-analysis-chart *ngIf="loaded" [benchmark]="benchmark" [selectedFirm]="firmName" [selectedFirmData]="firmYearData"
                              [rateType]="'Partner'"></bd-rate-analysis-chart>
    </div>
  </div>

  <div class="panel-wrapper mt40" style="padding: 0px !important;">
    <div style="border-bottom: 2px solid #E9F1F4; padding: 32px;">
      <span class="header-span" style="display: inline; font-size: 24px !important; padding-left: 1em;">Historical Associate Rate</span>
    </div>

    <div>
      <bd-rate-analysis-chart *ngIf="loaded" [benchmark]="benchmark" [selectedFirm]="firmName" [selectedFirmData]="firmYearData"
                              [rateType]="'Associate'"></bd-rate-analysis-chart>
    </div>
  </div>

  <!-- <div class="panel-wrapper mt40" style="padding: 0px !important;">
    <div style="border-bottom: 2px solid #E9F1F4; padding: 32px;">
      <span class="header-span">Historical Blended Rate</span>
    </div>
    <div>
      <bd-rate-analysis-chart *ngIf="loaded" [benchmark]="benchmark" [selectedFirm]="firmName" [selectedFirmData]="firmYearData"
                              [rateType]="'Blended'"></bd-rate-analysis-chart>
    </div>
  </div> -->
  <div class="mt10" style="font-family: 'Roboto';">
    Benchmark Data Last Refreshed: {{lastUpdated | date: 'longDate'}}
  </div>

</div>
