<div style="padding: 0px 16px 16px 24px;" id="exportDiv">
  <div style="display: inline !important;">
    <button class="back-button" (click)="goBack()"><i class="fa fa-chevron-left" style="font-size: 12px; margin-right: 6px !important;"></i> Back</button>

    <div style="display: inline !important; background: white; border-radius: 100px; padding: 8px 28px 8px 28px;">
      <!-- <span class="header-span" style="font-size: 16px !important; padding-left: 0em !important;">
        Rate Benchmark Analysis
      </span> -->

      <span class="header-span" style="padding-left: 0em !important; font-size: 16px !important; font-weight: 400 !important;">Firm: </span>
      <span style="color: #000000; font-family: 'Roboto' !important; font-size: 16px;">{{firmName}}</span>

      <span class="header-span" style="margin-left: 2em; font-size: 16px !important; font-weight: 400 !important;">Practice Area: </span>
      <span style="color: #000000; font-family: 'Roboto' !important; font-size: 16px;">{{practiceArea}}</span>

      <span class="header-span" style="margin-left: 2em; font-size: 16px !important; font-weight: 400 !important;">Year: </span>
      <span style="color: #000000; font-family: 'Roboto' !important; font-size: 16px;">{{year}}</span>
    </div>

    <div style="float: right">
      <button class="primary-button ml20" (click)="export()" [disabled]="commonServ.pdfLoading" [ngClass]="{'button-disabled': commonServ.pdfLoading}">Export
        <img src="assets/images/Downloads.svg" width="25px" height="20px" alt="icon"/>
      </button>
    </div>

    <div class="peer-firms" *ngIf="loaded">
      <p style="text-align: center; font-family: 'Roboto Bold' !important; font-size: 14px;">Comparison Peer Firms</p>
      <div id="peerFirmsDisplay" style="line-height: 2em; height: 4.8em; overflow: clip; text-align: center; margin-top: -0.75em; font-family: 'Roboto Bold' !important; font-size: 14px;">
        <div *ngFor="let firm of peerFirms; let i = index; let last = last; let first = first;" style="display: inline;">
          <div class="firm-name-pill">{{firm}}</div>
          <span style="background: #DEE8EB important; " *ngIf="last"> & others...</span>
        </div>
      </div>
    </div>
  </div>

  <h3 style="padding-bottom: 40px;">Rate Benchmarking Overview</h3>

  <div class="p-grid"  style="flex-wrap: nowrap !important;">
    <!-- [ngStyle]="{'background-color': costImpactColor} -->
    <div class="p-md-12 p-lg-6 pl8 pr15" [ngStyle]="setStyle()" style="width: 48% !important; margin-right: 20px; margin-left: 0.5em; padding: 16px; border-radius: 24px 24px 24px 24px; height: 175px;"> <!-- [ngStyle]="{'background-color': costImpactColor}"-->
      <img src="assets/images/bills.svg" alt="icon" class="icon-filter" style="margin-left: 1em; margin-bottom: 0.5em; height: 36px;"/>
      <span class="header-span" style="font-family: 'Roboto'; font-weight: 600; padding-left: 1em; color: white;">{{year}} Cost Impact: <span class="header-span" style="font-size: 24px !important; color: white; padding-left: 0px !important; font-weight: 600;">{{costImpactGrade}}</span></span>
      <div style="display: flex; justify-content: center; align-items: center; font-size: 40px; font-family: 'Roboto Bold'" [ngStyle]="{'color': costImpactColor}">
        <span style="padding-top: 8px;" *ngIf="blendedWithinRange">~{{costImpactLowerFormatted}} </span>
        <span style="padding-top: 8px;" *ngIf="!blendedWithinRange">~{{costImpactLowerFormatted}} - {{costImpactUpperFormatted}} </span>
      </div>

      <div style="display: flex; justify-content: center; align-items: center; font-size: 22px; font-family: 'Roboto'">
        <span *ngIf="blendedWithinRange"><span style="font-style: italic; font-family: 'Roboto Bold' !important;">more</span> than if you paid the lowest market rates</span>
        <span *ngIf="!blendedWithinRange && costImpactLower > 0 && costImpactUpper > 0"><span style="font-style: italic; font-family: 'Roboto Bold' !important;">more</span> than if your rates were market appropriate</span>
        <span *ngIf="!blendedWithinRange && costImpactLower < 0 && costImpactUpper < 0"><span style="font-style: italic; font-family: 'Roboto Bold' !important;">less</span> than if your rates were market appropriate</span>
      </div>

    </div>

    <div class="p-md-12 p-lg-6 pl8 pr15" style="width: 48% !important; margin-right: 20px; margin-left: 0.5em; padding: 16px; border-radius: 24px 24px 24px 24px; height: 175px; background-image: linear-gradient(bottom, #FFFFFF 67%, #000000 33%); background-image: -o-linear-gradient(bottom, #FFFFFF 67%, #000000 33%); background-image: -moz-linear-gradient(bottom, #FFFFFF 67%, #000000 33%);  background-image: -webkit-linear-gradient(bottom, #FFFFFF 67%, #000000 33%);  background-image: -ms-linear-gradient(bottom, #FFFFFF 67%, #000000 33%);">
      <em class="icon-note" style="margin-left: 1em; margin-bottom: 0.5em; height: 36px; filter: invert(100%) sepia(90%) saturate(39%) hue-rotate(135deg) brightness(110%) contrast(111%);"></em>
      <span style="font-size: 24px; font-family: 'Roboto'; font-weight: 600; padding-left: 1em; color: white;">{{year}} Spend: {{firmTotalSpendFormatted}}</span>
      <span class="ml10 pointer-hand" placement="bottom"
                [ngbPopover]="totalSpendText"
                popoverTitle="Total Spend"
                [openDelay]="100"
                [closeDelay]="2000"
                triggers="mouseenter:mouseleave"
                style="position: absolute; margin-top: 0.75em; height: 16px; width: 16px; color: black !important; background: #D6DEE1; border-radius: 16px; font-size: 13px;justify-content: center; align-items: center; display: inline-flex; font-family: 'Roboto';">?
      </span>
      <div style="display: flex; padding-top: 0.5em;" *ngIf="loaded">
        <div style="width: 50%; display: inline-flex; border-right: 2px solid #E9F1F4; padding-left: .5em;">
          <chart [options]="optionsTotal" (load)="saveInstanceTotal($event.context)"></chart>
          <div style="display: inline; padding-top: 1em">
            <span style="font-size: 32px; font-family: 'Roboto Bold';">{{pctOfTotalSpend}}</span><br>
            <span style="font-size: 16px; font-family: 'Roboto';">of {{year}} Total Spend</span>
          </div>

        </div>
        <div style="width: 50%; display: inline-flex; padding-left: 1em;">
          <chart style="display: inline;" [options]="optionsTotalPA" (load)="saveInstancePATotal($event.context)"></chart>
          <div style="display: inline;">
          </div>
          <div style="display: inline; padding-top: 1em;">
            <span style="font-size: 32px; font-family: 'Roboto Bold';">{{pctOfPASpend}}</span><br>
            <span style="font-size: 16px; font-family: 'Roboto';">of {{year}} {{practiceArea}} Spend</span>
          </div>

        </div>
      </div>

    </div>

  </div>

  <div class="p-grid mt40" style="flex-wrap: nowrap !important; display: none;">
    <div class="p-md-12 p-lg-6 pl8 pr15" [ngStyle]="setIncreaseStyle()" style="height: 175px; background: #FFFFFF; border-radius: 24px; width: 48% !important; margin-right: 20px; margin-left: 0.5em; padding: 16px 16px 0px 16px;">
      <div class="p-grid">
        <div class="p-md-12" style="width: 72%; padding: 0px !important; margin-top: 8px;">
          <em class="icon-bar-chart" style="font-size: 18px; position: absolute; margin-left: 20px; margin-top: 20px;"></em>
          <div class="header-span" style="line-height: 26px; font-size: 22px !important; padding-left: 2.5em !important;">
            Last Year's Average<br>
            <span style="padding-left: 2.5em;">Rate Increase:</span>
          </div>
          <div class="generic" style="line-height: 20px; margin-left: 1.25em; margin-top: .5em; margin-bottom: 0.5em;">
            If your rates change by the same percentage as<br>
            last year, your projected cost impact is
          </div>
          <div class="header-span" style="font-size: 32px !important; margin-left: .5em; padding-left: 0px !important; margin-top: .75em;" [ngStyle]="{'color': firmRateIncreaseColor}">
            <span *ngIf="firmCostImpact > 0">+</span> {{firmCostImpactFormatted}}
            <span class="ml10 pointer-hand" placement="bottom"
                [ngbPopover]="helpText"
                popoverTitle="Projected Cost Increase"
                [openDelay]="100"
                [closeDelay]="2000"
                triggers="mouseenter:mouseleave"
                style="height: 16px; width: 16px; margin-top: 2em; margin-right: 0.5em; color: black !important; background: #D6DEE1; border-radius: 16px; font-size: 13px; font-weight: 400; justify-content: center; align-items: center; display: inline-flex; font-family: 'Roboto'; float: right;">?
            </span>
          </div>
        </div>

        <div class="p-md-12" style="padding: 0px !important; width: 28%; font-size: 48px; font-family: 'Roboto Bold'; display: flex; justify-content: center; align-items: center; color: white;" >
          {{firmRateIncreasePct | number:'1.0-0'}}%
        </div>
      </div>
    </div>

    <div class="p-md-12 p-lg-6 pl8 pr15" [ngStyle]="setMarketIncreaseStyle()" style="height: 175px; background: #FFFFFF; border-radius: 24px; width: 48% !important; margin-right: 20px; margin-left: 0.5em; padding: 16px 16px 0px 16px;">
      <div class="p-grid">
        <div class="p-md-12" style="width: 72%; padding: 0px !important; margin-top: 8px;">
          <em class="icon-bar-chart" style="font-size: 18px; position: absolute; margin-left: 20px; margin-top: 20px;"></em>
          <div class="header-span" style="line-height: 26px; font-size: 22px !important; padding-left: 2.5em !important;">
            Last Year's Estimated Market<br>
            <span style="padding-left: 2.5em;">Rate Increase:</span>
          </div>
          <!-- <em class="icon-bar-chart"></em>
          <span class="header-span" style="display: inline;">Last Year's Average<br>Rate Increase:</span> -->
          <div class="generic" style="line-height: 20px; margin-left: 1.25em; margin-top: .5em; margin-bottom: 0.5em;">
            If your rates change by the estimated market rate<br>
            increase, your projected cost impact
          </div>
          <div class="header-span" style="font-size: 32px !important; margin-left: .5em; padding-left: 0px !important;" [ngStyle]="{'color': cohortRateIncreaseColor}">
            <span *ngIf="cohortCostImpact > 0">+</span> {{cohortCostImpactFormatted}}
            <span class="ml10 pointer-hand" placement="bottom"
                [ngbPopover]="helpText"
                popoverTitle="Projected Cost Increase"
                [openDelay]="100"
                [closeDelay]="2000"
                triggers="mouseenter:mouseleave"
                style="height: 16px; width: 16px; margin-top: 2em; margin-right: 0.5em; color: black !important; background: #D6DEE1; border-radius: 16px; font-size: 13px; font-weight: 400; justify-content: center; align-items: center; display: inline-flex; float: right; font-family: 'Roboto';">?
            </span>
          </div>
        </div>

        <div class="p-md-12" style="padding: 0px !important; width: 28%; font-size: 48px; font-family: 'Roboto Bold'; display: flex; justify-content: center; align-items: center; color: white;" >
          {{cohortRateIncreasePct | number:'1.0-0'}}%
        </div>
      </div>


    </div>

  </div>

  <div class="insights-bar justify-start mt30" *ngIf="insightText">
    <img src="assets/images/logo-black-short.png" width="40px" height="44px" class="mr20"/>
    <div class="ml20 mr20">
      <span>INSIGHTS &</span><br/><span>RECOMMENDATIONS</span>
    </div>
    <div class="insights-content ml20 roboto-div" [innerHTML]="utilService.formatTextForHtml(insightText, !insightExpanded, 210)"></div>
    <div *ngIf="insightText && insightText.length > 210">
      <button  class="primary-button insights-button" *ngIf="!insightExpanded" (click)="toggleInsight(true)">Read more
        <i class="fa fa-angle-down ml10"></i></button>
      <button  class="primary-button insights-button" *ngIf="insightExpanded" (click)="toggleInsight(false)">Close
        <i class="fa fa-angle-up ml10"></i></button>
    </div>
  </div>

  <div class="panel-wrapper mt40" style="padding: 0px !important;">
    <div style="border-bottom: 2px solid #E9F1F4; padding: 32px;">
      <span class="header-span" style="display: inline; font-size: 24px !important; padding-left: 1em;">Historical Partner Rate</span>
    </div>

    <div>
      <bd-rate-analysis-chart *ngIf="loaded" [selectedFirm]="firmName" [selectedFirmData]="firmYearData" [internalData]="internalYearData" [marketAverageData]="marketAverageData"
                              [rateType]="'Partner'"></bd-rate-analysis-chart>
    </div>
  </div>

  <div class="panel-wrapper mt40" style="padding: 0px !important;">
    <div style="border-bottom: 2px solid #E9F1F4; padding: 32px;">
      <span class="header-span" style="display: inline; font-size: 24px !important; padding-left: 1em;">Historical Associate Rate</span>
    </div>

    <div>
      <bd-rate-analysis-chart *ngIf="loaded" [selectedFirm]="firmName" [selectedFirmData]="firmYearData" [internalData]="internalYearData" [marketAverageData]="marketAverageData"
                              [rateType]="'Associate'"></bd-rate-analysis-chart>
    </div>
  </div>

  <div class="panel-wrapper mt40" style="padding: 0px !important;">
    <div style="border-bottom: 2px solid #E9F1F4; padding: 32px;">
      <span class="header-span">Historical Blended Rate</span>
    </div>
    <div>
      <bd-rate-analysis-chart *ngIf="loaded" [selectedFirm]="firmName" [selectedFirmData]="firmYearData" [internalData]="internalYearData" [marketAverageData]="marketAverageData"
                              [rateType]="'Blended'"></bd-rate-analysis-chart>
    </div>
  </div>

  <div class="mt40" style="flex-direction: row; justify-content: center; align-items: center; display: flex;">

    <button [hidden]="true" class="primary-button" style="background: black; color: white; font-family: 'Roboto'; font-size: 16px; height: 64px; width: 475px;" (click)="goToDetail()">See Timekeeper Level Benchmarks & Cost Analysis<i class="fa fa-chevron-right" style="padding-left: 6px; font-weight: 400;"></i></button>
  </div>

</div>
