<div class="wrapper">
  <!-- top navbar-->
  <rfp-header [title]="commonServ.pageTitle" [subtitle]="commonServ.pageSubtitle" class="topnavbar-wrapper" *ngIf="true"></rfp-header>
  <!-- sidebar-->
  <lib-bd-left-side-bar [appUI]="'RFP'" [appRoutes]="appStateService.appRoutes" #leftSidenav
                        [collapsed]="appStateService.layout.isCollapsed" (navigationRequested)="navigateFromMenu($event)" *ngIf="true"></lib-bd-left-side-bar>
  <!-- Main section-->
  <main class="main" [ngClass]="{'main-collapsed' : appStateService.layout.isCollapsed}">
    <!-- Page content-->
    <div class="spinner" [hidden]="!progress">
      <mat-spinner diameter="50" color="primary"></mat-spinner>
    </div>
    <div class="content-body-wrapper"  (dblclick)="onDoubleClick($event)">


      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </div>
  </main>
  <!-- Page footer-->
  <footer rfp-footer class="footer" [ngClass]="{'footer-collapsed' : appStateService.layout.isCollapsed}"></footer>
</div>
