.container{
  margin-left: 200px; /* Same as the width of the sidebar */
}
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #fff; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
.topnavbar-wrapper {
  position:fixed;
  top:0;
  width:100%;
  z-index:10;
}
.content-wrapper {
  margin-top:55px;
}
.aside {
  position: fixed;
  left: 0;
  top: 55px;
  min-height: 95vh;
  max-height: 95vh;
  overflow-y: auto;
}
.main{
  padding-left: 0;
}
.main-collapsed{
  padding-left: 15px;
}
.footer {
  margin-left: -20px;
}
