<div class="wrapper">
  <!-- top navbar-->
  <rfp-header [title]="commonServ.pageTitle" [subtitle]="commonServ.pageSubtitle" class="topnavbar-wrapper"></rfp-header>
  <!-- sidebar-->
  <rfp-side-bar class="aside"></rfp-side-bar>
  <!-- Main section-->
  <main class="main" [ngClass]="{'main-collapsed' : appStateService.layout.isCollapsed}">
    <!-- Page content-->
    <div class="spinner" [hidden]="!progress">
      <mat-spinner diameter="50" color="primary"></mat-spinner>
    </div>
    <div class="content-body-wrapper" (contextmenu)="onRightClick($event)" (dblclick)="onDoubleClick($event)">


      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </div>
  </main>
  <!-- Page footer-->
  <footer rfp-footer class="footer" [ngClass]="{'footer-collapsed' : appStateService.layout.isCollapsed}"></footer>
</div>
