<div>
  <div>
    <div class="qbr-panel position-relative"  [ngClass]="{'qbr-panel-zoomed': zoom }" id="exportPage" #exportPage>
      <div class="card-title">Executive Summary<span class="dot-full dot-full-online"></span></div>
      <div class="p-grid mt40" *ngIf="currentOverviewMetric && compareOverviewMetric">
        <div class="p-md-6 no-padding">
          <bd-qbr-total-spend [qbrType]="qbrType" [totalSpendMetric]="[totalSpendMetric]"></bd-qbr-total-spend>
          <div class="p-grid gray-border-left position-relative mt60">
            <span class="dot-full-right"></span>
            <div class="p-md-12 no-padding">
              <div class="justify-between pl10">
                <div>

                  <img alt="icon" src="assets/images/total_bb.svg" class="qbr-icon-sm mb5 mr10 ml20">
                  <span class="qbr-label">Block Billed</span>
                </div>
                <div>
                  <img alt="icon" src="assets/images/chart-pie.png" class="qbr-icon mb5 mr10 ml10">
                  <span class="qbr-label mr40">Hours Worked By TimeKeeper Level</span>
                </div>
              </div>

              <div class="p-grid mt20">
                <!--pie charts -->
                <div class="p-md-5 justify-center">
                  <chart [options]="optionsBB" (load)="saveInstanceBB($event.context)"></chart>
                </div>
                <div class="p-md-7 justify-center">
                  <chart [options]="optionsHours" (load)="saveInstanceHours($event.context)"></chart>
                </div>
              </div>

              <div class="p-grid mt20">
                <!--chart labels -->
                <div class="p-md-5 justify-center">
                  <div class="text-center">
                    <bd-yoy-number-widget  [direction]="bbMetric.direction" [qbrType]="qbrType" [increase]="bbMetric.percent" [size]="'lg'"></bd-yoy-number-widget>

                  </div>
                </div>
                <div class="p-md-7 justify-center">
                  <div class="hours-div" *ngFor="let tk of tkHours;let i=index;"
                       [ngClass]="{'metrics-div-border': i > 0}">
                    <div class="qbr-label mb15">
                    <span class="tk-bar-lg"
                          [ngClass]="{'partner-bar': tk.label === 'Partner', 'associate-bar': tk.label === 'Associate' , 'other-bar': tk.label === 'Other', 'paralegal-bar':  tk.label === 'Paralegal'}"></span>
                      <span *ngIf="tkHours.length > 3">{{qbrService.formatShortTKLabel(tk.label)}}</span>
                      <span *ngIf="tkHours.length <= 3">{{ tk.label }}</span>
                    </div>
                    <bd-yoy-number-widget [direction]="tk.direction" [increase]="tk.percent" [light]="tkHours.length > 3"
                                          [size]="'md'" [qbrType]="qbrType"></bd-yoy-number-widget>

                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
        <!--second column-->
        <div class="p-md-6 no-padding gray-border-left position-relative">
          <bd-qbr-executive-summary-right [metrics]="rightSideMetrics"
                                          [qbrType]="qbrType"></bd-qbr-executive-summary-right>
        </div>
      </div>
      <div class="page-number-circle">
          <div class="page-number">5</div>
      </div>
    </div>

  </div>
</div>

