@import "../../../../assets/styles/colors.scss";
@import "../../../../assets/styles/_variables.scss";

//.summary-card-title {
//  font-size: 24px;
//  padding: 10px 0;
//  border: 0.5px solid transparent;
//  border-top-right-radius: 24px;
//  border-top-left-radius: 24px;
//}
//.summary-card {
//  text-align: center;
//}
//.summary-card-content {
//  border-bottom-right-radius: 24px;
//  border-bottom-left-radius: 24px;
//  background-color: #fff;
//  min-height: 113px;
//  padding: 10px;
//  .text-gray {
//    color: $medium-gray;
//  }
//}
.summary-card-content-docs {
  background-color: #F5F8F9;
}

.total-spend-card {
  font-size: 24px;
  padding-top: 30px;
}
.staffing-hours-total {
  font-size: 24px;
}

