@import "../../../../../assets/styles/colors.scss";
.mat-icon {
  font-size: 16px;
}

.partner-badge {
  // min-width: 160px;
}
.lead-partner-badge {
  white-space: nowrap;
  margin: 0 5px;
  position: relative;
  mat-icon {
    position: absolute;
    left: 5px;
    top: 5px;
  }
  img {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: 5px;
  }
}

