@import "../../../../assets/styles/colors.scss";
.left-titles {
  min-width: 60%;
}
:host ::ng-deep {
  .filters-panel {
    height: 430px !important;
    .btn {
      font-family: 'Sharp Sans', sans-serif !important;
    }
  }
}
