<div class="row" #launchpad>
  <div class="column">
    <div class="content-body">
      <div class="panel-wrapper">
        <div class="panel-title">
          <h5>Top Matters by Spend</h5>
        </div>
        <div class="panel-body">
          <bd-top-matters></bd-top-matters>
        </div>
      </div>
    </div>
    <div class="content-body">
      <div class="panel-wrapper">
        <div class="panel-title">
          <h5>Spend by Practice Area</h5>
        </div>
        <div class="panel-body">
          &nbsp;
        </div>
      </div>
    </div>
    <div class="content-body">
      <div class="panel-wrapper">
        <div class="panel-title">
          <h5>Matters with Highest Average Rate</h5>
        </div>
        <div class="panel-body">

        </div>
      </div>
    </div>
    <div class="content-body">
      <div class="panel-wrapper">
        <div class="panel-title">
          <h5>Active Spend vs. Closed Spend</h5>
        </div>
        <div class="panel-body">
          &nbsp;
        </div>
      </div>
    </div>

  </div>

  <div class="column">
    <div class="content-body">
      <div class="panel-wrapper">
        <div class="panel-title">
          <h5>Top firms by Spend</h5>
        </div>
        <div class="panel-body">
          &nbsp;
        </div>
      </div>
    </div>
    <div class="content-body">
      <div class="panel-wrapper">
        <div class="panel-title">
          <h5>Matters with Highest Block Billing %</h5>
        </div>
        <div class="panel-body">
          &nbsp;
        </div>
      </div>
    </div>
    <div class="content-body">
      <div class="panel-wrapper">
        <div class="panel-title">
          <h5>Top Lead Partners</h5>
        </div>
        <div class="panel-body">
          &nbsp;
        </div>
      </div>
    </div>
    <div class="content-body">
      <div class="panel-wrapper">
        <div class="panel-title">
          <h5>Invoice IQ Reports</h5>
        </div>
        <div class="panel-body">
          &nbsp;
        </div>
      </div>
    </div>

  </div>
</div>
