<div class="content-body-inner-wrapper">
  <bd-ie-banner></bd-ie-banner>
  <bd-error-messages></bd-error-messages>
  <div  *ngIf="selectedTabIndex === 0">
    <lib-bd-filters
      (sendFilters)="receiveMessage($event)"
      [pageName]="pageName"
      [collapsed]="appStateService.layout.isCollapsed"
    ></lib-bd-filters>
  </div>
  <div  *ngIf="selectedTabIndex === 1">
    <lib-bd-filters
      (sendFilters)="refreshExecutiveSummaryData($event)"
      [pageName]="pageName"
      [collapsed]="appStateService.layout.isCollapsed"
      [excludeFilters]="excludeFilters"
    ></lib-bd-filters>
  </div>

  <div #insights style="display: block">
    <bd-insights (insightsLoaded)="onCardLoaded()" #insights></bd-insights>
  </div>

  <mat-tab-group animationDuration="0ms" (selectedTabChange)="changeTab($event)">
    <mat-tab label="Launchpad">
      <div class="launchpad" #launchpad>
        <bd-card *ngFor="let card of cards"
                 [header]="card.header"
                 [request]="requests[card.request]"
                 [cardName]="card.request"
                 [columns]="card.columns"
                 [options]="card.options"
                 (clicked)="onClick($event)"
                 (loaded)="onCardLoaded()"
                 [ngStyle]="{'grid-column': 'span ' + card.span}">
        </bd-card>
      </div>

    </mat-tab>

    <mat-tab label="Executive Summary">

      <bd-executive-summary *ngIf="selectedTabIndex === 1">


      </bd-executive-summary>

    </mat-tab>

  </mat-tab-group>

</div>
