<div class="content-body-inner-wrapper">
  <bd-ie-banner></bd-ie-banner>
  <bd-error-messages></bd-error-messages>
  <div>
    <!--      [excludeFilters] = "['firms','threshold']"-->
    <lib-bd-filters
      (sendFilters)="receiveMessage($event)"
      [pageName]="pageName"
      [collapsed]="appStateService.layout.isCollapsed"
    ></lib-bd-filters>
  </div>
  <div #insights style="display: block">
    <bd-insights (insightsLoaded)="postLoad()" #insights></bd-insights>
  </div>
  <div class="launchpad" #launchpad>
    <bd-card *ngFor="let card of cards"
             [header]="card.header"
             [request]="requests[card.request]"
             [cardName]="card.request"
             [columns]="card.columns"
             [options]="card.options"
             (clicked)="onClick($event)"
             (loaded)="onCardLoaded()"
             [ngStyle]="{'grid-column': 'span ' + card.span}">
    </bd-card>
  </div>
</div>
