<div>
  <p style="display: inline; text-align: left; font-family: 'Roboto Bold' !important; font-size: 14px; margin-left: 16px">Comparison Market Firms</p>
</div>
<div id="marketFirmsDisplay" style="margin-left: 1em; margin-top: 6px; font-family: 'Roboto Bold' !important; font-size: 14px;">
  <div *ngFor="let firm of displayedMarketFirms; let i = index; let last = last; let first = first;" style="display: inline;">
    <div class="firm-name-pill">{{firm}}</div>
    <span style="background: #DEE8EB important; " *ngIf="last"> & others...</span>
  </div>
</div>

<div style="margin-top: .75em;">
  <p style="display: inline; text-align: left; font-family: 'Roboto Bold' !important; font-size: 14px; margin-left: 16px">Comparison Panel Firms</p>
</div>
<div id="panelFirmsDisplay" style="margin-left: 1em; margin-top: 6px; font-family: 'Roboto Bold' !important; font-size: 14px;" *ngIf="panelFirms">
  <!-- <button (click)="openFirmsModal()" class="primary-button" style="padding: 0px !important; height: 23px; width: 74px; font-size: 12px; right: 76px; position: absolute; font-family: 'Roboto Mono';">Edit<i class="fa fa-chevron-right" style="font-size: 12px; margin-left: 6px !important;"></i></button> -->
  <em class="icon-pencil" (click)="openFirmsModal()" style="margin-right: 0.5em; cursor: pointer;"></em>
  <div *ngFor="let firm of displayedPanelFirms; let i = index; let last = last; let first = first;" style="display: inline;">
    <div class="firm-name-pill">{{firm}}</div>
    <span style="background: #DEE8EB important; " *ngIf="last && ((i + 1) < panelFirms.length)"> & others...</span>
  </div>
</div>
