@import "../../../assets/styles/colors.scss";
.panel-wrapper {
    height: 100%;
}

.ui-g-3, .ui-g-4 {
  text-align: center;
}
.ui-g-3-header {
  text-align: left;
}
.table-title {
 font-size: 0.8rem;
}
.table-pill-2 {
  color: $body-color;
  min-width: 90px;
  border-color: $gray-blue-bg;
  background-color: $gray-blue-bg;
}
.table-pill-3{
  min-width: 70px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-color: $body-color;
  background-color: $body-color;
  display: inline-block;
}
.firm-cell {
  width: 120px;
}
.link {
  cursor: pointer;
  text-decoration: underline;
}