<div class="content-body">
    <div class="panel-wrapper">
        <div class="panel-title">
            <h5>Top Firms YoY Comparison</h5>
        </div>
        <div class="panel-body" #panelBody>
            <table class="full-width" *ngIf="isLoaded">
                <tr>
                    <th>Firm Name</th>
                    <th>Average Matter Cost</th>
                    <th>Block Billed %</th>
                    <th>Blended Attorney Rate</th>
                    <th>Bodhala Price Index</th>
                    <th>Average Partner Rate</th>
                    <th>Average Associate Rate</th>
                </tr>
                <tr *ngFor="let firm of topFirms">
                  <td><a class="href-link-primary" href="/analytics-ui/firm/{{firm.id}}">{{firm.firm_name}}</a></td>
                  <td>{{firm.avg_matter_cost_formatted}} <span *ngIf="firm.avg_matter_cost_trend > 0" class="arrow-up"><br/><em class="fa fa-arrow-up"></em> {{firm.avg_matter_cost_trend | number:'1.0-0'}}%</span>
                    <span *ngIf="firm.avg_matter_cost_trend < 0" class="arrow-down"><br/><em  class="fa fa-arrow-down"></em> {{(firm.avg_matter_cost_trend * -1) | number:'1.0-0'}}%</span></td>
                    <td>{{firm.block_billed_per | number:'1.0-0'}}% <span *ngIf="firm.block_billed_per_trend > 0" class="arrow-up"><br/><em  class="fa fa-arrow-up"></em> {{firm.block_billed_per_trend | number:'1.0-0'}}%</span>
                      <span *ngIf="firm.block_billed_per_trend<0" class="arrow-down"><br/><em  class="fa fa-arrow-down"></em> {{(firm.block_billed_per_trend * -1) | number:'1.0-0'}}%</span></td>
                    <td>{{firm.blended_rate_formatted}} <span *ngIf="firm.blended_rate_trend > 0" class="arrow-up"><br/><em  class="fa fa-arrow-up"></em> {{firm.blended_rate_trend | number:'1.0-0'}}%</span>
                      <span *ngIf="firm.blended_rate_trend<0" class="arrow-down"><br/><em  class="fa fa-arrow-down"></em> {{(firm.blended_rate_trend * -1) | number:'1.0-0'}}%</span></td>
                    <td>{{firm.bpi_formatted}} <span *ngIf="firm.bpi_trend > 0" class="arrow-up"><br/><em  class="fa fa-arrow-up"></em> {{firm.bpi_trend | number:'1.0-0'}}%</span>
                      <span *ngIf="firm.bpi_trend<0" class="arrow-down"><br/><em  class="fa fa-arrow-down"></em> {{(firm.bpi_trend * -1) | number:'1.0-0'}}% </span></td>
                    <td>{{firm.avg_partner_rate_formatted}} <span *ngIf="firm.avg_partner_rate_trend > 0" class="arrow-up"><br/><em  class="fa fa-arrow-up"></em> {{firm.avg_partner_rate_trend | number:'1.0-0'}}%</span>
                      <span *ngIf="firm.avg_partner_rate_trend<0" class="arrow-down"><br/><em  class="fa fa-arrow-down"></em> {{(firm.avg_partner_rate_trend * -1) | number:'1.0-0'}}%</span></td>
                      <td>{{firm.avg_associate_rate_formatted}} <span *ngIf="firm.avg_associate_rate_trend > 0" class="arrow-up"><br/><em  class="fa fa-arrow-up"></em> {{firm.avg_associate_rate_trend | number:'1.0-0'}}%</span>
                        <span *ngIf="firm.avg_associate_rate_trend<0" class="arrow-down"><br/><em  class="fa fa-arrow-down"></em> {{(firm.avg_associate_rate_trend * -1) | number:'1.0-0'}}%</span></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="panel-wrapper">
        <div class="panel-title">
            <h5 *ngIf="!fullYear">Top Firms YTD</h5>
            <h5 *ngIf="fullYear">Top Firms {{lastFullYear}}</h5>
        </div>
        <div class="panel-body" #panelBody>
            <table class="full-width" *ngIf="isLoaded">
                <tr>
                    <th>Firm Name</th>
                    <th *ngIf="!fullYear">YTD Total Spend</th>
                    <th *ngIf="fullYear">{{lastFullYear}} Total Spend</th>
                    <th>Matters</th>
                    <th>Average Matter Cost</th>
                    <th>Blended Attorney Rate</th>
                    <th>Block Billing $</th>
                    <th>Partner % of Hours Worked</th>
                </tr>
                <tr *ngFor="let firm of topFirms">
                  <td><a class="href-link-primary" href="/analytics-ui/firm/{{firm.id}}">{{firm.firm_name}}</a></td>
                    <td>${{firm.total_billed | number:'1.0-0'}}</td>
                    <td>{{firm.total_firm_matters | number:'1.0-0'}}</td>
                    <td>{{firm.avg_matter_cost_formatted}}</td>
                    <td>{{firm.blended_rate_formatted}}</td>
                    <td>${{firm.firm_block_billed | number:'1.0-0'}}</td>
                    <td>{{firm.partner_percent_hours_worked * 100 | number:'1.0-0'}}%</td>
                </tr>
            </table>
        </div>
    </div>
</div>


<div class="content-body">
    <div class="panel-wrapper">
        <div class="panel-title">
            <h5 *ngIf="!fullYear">Top Matters YTD</h5>
            <h5 *ngIf="fullYear">Top Matters {{lastFullYear}}</h5>
        </div>
        <div class="panel-body" #panelBody>
            <table class="full-width" *ngIf="isLoaded">
                <tr>
                    <th class="matter-cell">Matter Name</th>
                    <th class="matter-cell" *ngIf="!fullYear">YTD Cost</th>
                    <th class="matter-cell" *ngIf="fullYear">{{lastFullYear}} Cost</th>
                    <th class="matter-cell">Block Billed %</th>
                    <th class="matter-cell">Blended Attorney Rate</th>
                    <th class="matter-cell">Bodhala Price Index</th>
                    <th class="matter-cell">Average Partner Rate</th>
                    <th class="matter-cell">Partner % of Hours Worked</th>
                </tr>
                <tr *ngFor="let matter of topMatters">
                  <td><a class="href-link-primary" href="/#/app/client-dashboard/matter/{{matter.id}}">{{matter.name}}</a></td>
                    <td>${{matter.total_spend | number:'1.0-0'}}</td>
                    <td>{{matter.block_billing_percent * 100 | number:'1.0-0'}}%</td>
                    <td>${{matter.blended_rate| number:'1.0-0'}}</td>
                    <td>${{matter.bodhala_price_index | number:'1.0-0'}}</td>
                    <td>${{matter.avg_partner_rate | number:'1.0-0'}}</td>
                    <td>{{matter.partner_percent_hours_worked * 100 | number:'1.0-0'}}%</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="panel-wrapper">
        <div class="panel-title">
            <h5 *ngIf="!fullYear">Top Timekeepers YTD</h5>
            <h5 *ngIf="fullYear">Top Timekeepers {{lastFullYear}}</h5>
        </div>
        <div class="panel-body" #panelBody>
            <table class="full-width" *ngIf="isLoaded">
                <tr>
                    <th class="tk-name-cell">Timekeeper</th>
                    <th class="tk-cell">Title</th>
                    <th class="tk-cell" *ngIf="!fullYear">YTD Total Spend</th>
                    <th class="tk-cell" *ngIf="fullYear">{{lastFullYear}} Total Spend</th>
                    <th class="tk-cell">Matters</th>
                    <th class="tk-cell">Average Matter Cost</th>
                    <th class="tk-cell">Blended Attorney Rate</th>
                    <th class="tk-cell">Block Billing $</th>
                </tr>
                <tr *ngFor="let tk of topTKs">
                  <td><a class="href-link-primary" href="/#/app/client-dashboard/timekeepers?firmId={{tk.lawfirm_id}}">{{tk.name}}
                      <br><a class="firm-name">{{tk.firm}}</a></a></td>
                    <td>{{commonServ.capitalize(tk.seniority)}}</td>
                    <td>${{tk.total | number:'1.0-0'}}</td>
                    <td>{{tk.total_matters| number:'1.0-0'}}</td>
                    <td>{{tk.avg_matter_cost_formatted}}</td>
                    <td>${{tk.blended_rate | number:'1.0-0'}}</td>
                    <td>${{tk.total_block_billed | number:'1.0-0'}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="content-body">
    <div class="panel-wrapper">
        <div class="panel-title">
            <h5 *ngIf="!fullYear">Top Firms YTD ({{topPracticeArea}})</h5>
            <h5 *ngIf="fullYear">Top Firms {{lastFullYear}} - ({{topPracticeArea}})</h5>
        </div>
        <div class="panel-body" #panelBody>
            <table class="full-width" *ngIf="isLoaded">
                <tr>
                    <th>Firm Name</th>
                    <th *ngIf="!fullYear">YTD Total Spend</th>
                    <th *ngIf="fullYear">{{lastFullYear}} Total Spend</th>
                    <th>Matters</th>
                    <th>Average Matter Cost</th>
                    <th>Blended Attorney Rate</th>
                    <th>Block Billing $</th>
                    <th>Partner % of Hours Worked</th>
                </tr>
                <tr *ngFor="let firm of topFirmsByPA">
                  <td><a class="href-link-primary" href="/analytics-ui/firm/{{firm.id}}">{{firm.firm_name}}</a></td>
                    <td>${{firm.total_billed | number:'1.0-0'}}</td>
                    <td>{{firm.total_firm_matters | number:'1.0-0'}}</td>
                    <td>{{firm.avg_matter_cost_formatted}}</td>
                    <td>{{firm.blended_rate_formatted}}</td>
                    <td>${{firm.firm_block_billed | number:'1.0-0'}}</td>
                    <td>{{firm.partner_percent_hours_worked * 100 | number:'1.0-0'}}%</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="panel-wrapper">
        <div class="panel-title">
            <h5 *ngIf="!fullYear">Top Matters YTD ({{topPracticeArea}})</h5>
            <h5 *ngIf="fullYear">Top Matters {{lastFullYear}} - ({{topPracticeArea}})</h5>
        </div>
        <div class="panel-body" #panelBody>
            <table class="full-width" *ngIf="isLoaded">
                <tr>
                    <th class="matter-cell">Matter Name</th>
                    <th class="matter-cell" *ngIf="!fullYear">YTD Cost</th>
                    <th class="matter-cell" *ngIf="fullYear">{{lastFullYear}} Cost</th>
                    <th class="matter-cell">Block Billed %</th>
                    <th class="matter-cell">Blended Attorney Rate</th>
                    <th class="matter-cell">Bodhala Price Index</th>
                    <th class="matter-cell">Average Partner Rate</th>
                    <th class="matter-cell">Partner % of Hours Worked</th>
                </tr>
                <tr *ngFor="let matter of topMattersByPA">
                  <td><a class="href-link-primary" href="/#/app/client-dashboard/matter/{{matter.id}}">{{matter.name}}</a></td>
                    <td>${{matter.total_spend | number:'1.0-0'}}</td>
                    <td>{{matter.block_billing_percent * 100 | number:'1.0-0'}}%</td>
                    <td>${{matter.blended_rate| number:'1.0-0'}}</td>
                    <td>${{matter.bodhala_price_index | number:'1.0-0'}}</td>
                    <td>${{matter.avg_partner_rate | number:'1.0-0'}}</td>
                    <td>{{matter.partner_percent_hours_worked * 100 | number:'1.0-0'}}%</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="content-body">
    <div class="panel-wrapper">
        <div class="panel-title">
            <h5 *ngIf="!fullYear">Top Timekeepers YTD ({{topPracticeArea}})</h5>
            <h5 *ngIf="fullYear">Top Timekeepers {{lastFullYear}} - ({{topPracticeArea}})</h5>
        </div>
        <div class="panel-body" #panelBody>
            <table class="full-width" *ngIf="isLoaded">
                <tr>
                    <th class="tk-name-cell">Timekeeper</th>
                    <th class="tk-cell">Title</th>
                    <th class="tk-cell" *ngIf="!fullYear">YTD Total Spend</th>
                    <th class="tk-cell" *ngIf="fullYear">{{lastFullYear}} Total Spend</th>
                    <th class="tk-cell">Matters</th>
                    <th class="tk-cell">Average Matter Cost</th>
                    <th class="tk-cell">Blended Attorney Rate</th>
                    <th class="tk-cell">Block Billing $</th>
                </tr>
                <tr *ngFor="let tk of topTKsByPA">
                  <td><a class="href-link-primary" href="/#/app/client-dashboard/timekeepers?firmId={{tk.lawfirm_id}}">{{tk.name}}<br><a class="firm-name">{{tk.firm}}</a></a></td>
                    <td>{{commonServ.capitalize(tk.seniority)}}</td>
                    <td>${{tk.total | number:'1.0-0'}}</td>
                    <td>{{tk.total_matters| number:'1.0-0'}}</td>
                    <td>{{tk.avg_matter_cost_formatted}}</td>
                    <td>${{tk.blended_rate | number:'1.0-0'}}</td>
                    <td>${{tk.total_block_billed | number:'1.0-0'}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
