<div class="panel-wrapper mt20">
  <div class="justify-between">
    <div class="exs-panel-title">Total Spend</div>
  </div>
  <div class="mt20" #chartDiv>
    <chart (load)="saveInstance($event.context)" [options]="options"></chart>
  </div>
</div>
<div class="panel-wrapper mt20">
  <table class="full-width">
    <tr>
      <td style="width: 13%"></td>
      <td *ngFor="let tk of tkTotalSpend" class="font-bold">{{tk.tableLabel}}</td>
    </tr>
    <tr>
      <td class="font-bold">Actual</td>
      <td *ngFor="let tk of tkTotalSpend">${{tk.actual | number:'1.0-0'}}</td>
    </tr>
    <tr>
      <td class="font-bold">Market</td>
      <td *ngFor="let tk of tkTotalSpend">${{tk.market | number:'1.0-0'}}</td>
    </tr>
    <tr>
      <td class="font-bold">Delta</td>
      <td *ngFor="let tk of tkTotalSpend">
        <span class="oval-label" [ngClass]=" {'oval-label-red': tk.direction > 0, 'oval-label-green': tk.direction < 0}">
            <span *ngIf = "tk.direction > 0">+</span>
            <span *ngIf = "tk.direction < 0">-</span>
            ${{tk.delta | number:'1.0-0'}}
          <span class="increase-span ml5">  {{ tk.increase | number:'1.0-0'}}%
           <em *ngIf="tk.direction > 0" class="fa fa-arrow-up"></em>
            <em *ngIf="tk.direction < 0" class="fa fa-arrow-down"></em>
            </span>
        </span>
      </td>
    </tr>
  </table>
</div>
