@import "../../../../assets/styles/colors.scss";
@import "../../../../assets/styles/_variables.scss";
.table-subtitle {
  font-size: 24px;
}
.oval-label {
  border-radius: 31px;
  font-size: 16px;
  color: $body-color;
  padding: 5px;
  background-color: $light-gray;
}
.oval-label-red {
  color: #fff;
  background-color: #FE3F56;
}
.oval-label-green {
  color: #fff;
  background-color: $qbr-green;
}
.oval-label-orange {
  color: #fff;
  background-color: #FF8B4A;
}
.oval-label-gray {
  color: #fff;
  background-color: #8A8A8A;
}
.oval-label-black {
  color: #fff;
  background-color: $body-color;
}


