@import "../../../assets/styles/colors.scss";

.panel-wrapper {
  //background-color: #fff;
  //position: relative;
  //min-height: 245px;
}
.flex-container {
  width: 100%;
  display: flex;
  //flex-wrap: wrap;
  flex-direction: row;
}
.flex-item {
  text-align: center;
  flex-basis: 100%;
}

.report-card-panel-wrapper {
  padding-top: 0px;
}

