@import "../../../assets/styles/colors.scss";
$circle-diameter: 150px;
$border-radius: 75px;

:host ::ng-deep {
  .ui-slider .ui-slider-range {
    background-color: $body-color !important;
  }
}
.ui-slider .ui-slider-range {
  background-color: $body-color !important;
}
.panel-wrapper {
  padding: 20px !important;
}
.circle
{
  width:$circle-diameter;
  height:$circle-diameter;
  border-radius: $border-radius;
  text-align:center;
  background:#fff;
  margin: auto;
  position: relative;

  box-shadow: 0 0 15px  rgba(0, 0, 0, .24);
  -moz-box-shadow: 0 0 15px  rgba(0, 0, 0, .24);
  -webkit-box-shadow: 0 0 15px  rgba(0, 0, 0, .24);
  -o-box-shadow: 0 0 15px  rgba(0, 0, 0, .24);
}

.circle-text {
  font-size:22px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 40%;
  min-width: $circle-diameter;
  z-index: 2;
}
.subtitle {
  color:$medium-gray;
}
.centered-chart{
  font-size:22px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
