<div class="panel-wrapper flex-container">
  <h5 class="">{{title}}</h5>
  <div class="subtitle mb20">Last Year: <span class="font-body">{{percent | number:'1.0-0'}}%</span></div>
  <div class="small-title">
    <div class="text-left pull-left">{{minRange}}%</div>
    <div class="text-right pull-right">{{maxRange}}%</div>

  </div>

  <div class="clear-both ml15 mr15">
    <p-slider [(ngModel)]="percent" [step]="1"
              [range]="false" [min]="minRange"
              (onChange)="sliderChange($event)"
              [max]="maxRange"></p-slider>
  </div>
  <div class="full-width text-center circle-wrapper mt30 mb20">
    <div class="circle">
      <div class="circle-text">${{total  | number:'1.0-0'}}</div>
    </div>
  </div>
<!--  <div class="full-width mt20">-->
<!--    <div class="centered-chart">-->
<!--      <chart [options]="options" (load)="saveInstance($event.context)"></chart>-->
<!--        <div class="circle-text">${{total  | number:'1.0-0'}}</div>-->
<!--    </div>-->

<!--  </div>-->
</div>
