/* You can add global styles to this file, and also import other style files */
//@import "../node_modules/simple-line-icons/scss/simple-line-icons.min.scss";
@import "./assets/styles/variables";
@import "./assets/styles/media-queries.scss";
@import "./assets/styles/spacings.scss";
@import "./assets/styles/colors.scss";
@import "./assets/styles/layout.scss";
@import '~@angular/material/theming';

@include mat-core();
@import "./assets/styles/mat-theme.scss";
@import "~material-icons/iconfont/material-icons.css";
@import '~bootstrap/scss/bootstrap';

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: $body-bg;
  color: $body-color;
  font-size: 15px;
}

.pointer-hand {
  cursor: pointer;
}

.font-bold {
  font-weight: 600;
}

.no-border {
  border: none;
}

.visibility-hidden {
  visibility: hidden;
}

//ICOND
//.icon-arrow-down:before {
//  content: "\e604";
//}
//.icon-arrow-left:before {
//  content: "\e605";
//}
//.icon-arrow-right:before {
//  content: "\e606";
//}
//.icon-arrow-up:before {
//  content: "\e607";
//}
// COLORS
.color-blue {
  background-color: $brand-info;
}

.color-light-blue {
  background-color: $brand-secondary-ltr;
}

.color-green-dark {
  background-color: #0E7D4A;
}

.color-green {
  background-color: $brand-success;
}

.color-orange {
  background-color: $brand-primary;
}

.color-gray {
  background-color: $medium-gray;
}

.color-pink {
  background-color: $brand-pink;
}

.color-purple {
  background-color: $brand-purple;
}

.color-yellow {
  background-color: $brand-yellow;
}

.color-inv {
  background-color: $brand-inv;
}

.color-comp-dk {
  background-color: $brand-comp-dk;
}

.color-primary-md {
  background-color: $brand-primary-md;
}


.color-red {
  color: $brand-danger;
}

.bg-white {
  backgorund-color: #fff;
}

.bg-orange {
  background-color: $brand-primary;
}

.bg-light-green {
  background-color: #c5ffbf;
}

.bg-light-gray {
  background-color: #cccccc;
}

.form-controls {
  margin-top: 25px;
  margin-bottom: 25px;
}

.font-body {
  color: $body-color;
}

.font-red {
  color: red !important;
}

.error {
  color: red;
  font-size: 10pt;
}

.clear-both {
  clear: both;
  float: none;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.align-top {
  valign: top;
}

.center-screen {
  margin: auto;
}

.inline-block {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.relative-pos {
  position: relative;
}

.full-width {
  width: 100%;
}

.left-right-align {
  display: flex;
  justify-content: space-between;
}

.href-link-primary {
  cursor: pointer;
  color: $primary-link;
  text-decoration: underline;
}

.href-link-secondary {
  cursor: pointer;
  color: $secondary-link;
  text-decoration: underline;
}


.content-heading .header, .content-heading .header figure {
  justify-content: flex-start !important;
}

.content-heading .actions, .content-heading .actions figure {
  justify-content: flex-end !important;
  //font-size: 1.4rem;
}

.mat-card, .mat-flat-button, .mat-dialog-container {
  color: $body-color;
  //font-size: 1.4rem;
}

.mat-select-value {
  color: $body-color;
}

.mat-card {
  background-color: #fff;
  color: $body-color;
}

.mat-card-title {
  //font-size: 2.1rem;
  margin-left: 20px;
}

.mat-progress-spinner circle, .mat-spinner circle,
.mat-progress-spinner {
  stroke: $light-gray;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: $blue-color;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: $body-color;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: $blue-color;
}

.mat-calendar-body-selected {
  background-color: $blue-color !important;
}
.mat-form-field {
  width: 100% !important;
}
.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 40px;
  height: 40px;
  z-index: 1234;
  opacity: 1 !important;
}

.spinner-card {
  position: absolute;
  top: 55%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 20px;
  height: 20px;
  z-index: 1234;
  opacity: 1 !important;
}

.totals-badge {
  color: #fff;
  border-radius: 25px;
  padding: 3px 10px;
  min-width: 100px;
  display: inline-block;
  text-align: center;
}

.totals-numbers {
  background-color: $blue-green !important;
}

.totals-percent {
  color: $body-color;
  background-color: $yellow;
}



.mat-table, .mat-cell {
  color: $body-color !important;
}

.mat-flat-button.btn-grey {
  background-color: $gray-lighter;
  color: $body-color;
}


.panel-wrapper {
  border: 1px solid rgba(0, 0, 0, .03);
  box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
  width: 100%;
}

.panel-title {
  color: rgba(0, 0, 0, .54);
  background: rgba(0, 0, 0, .03);
  display: flex;
  justify-content: flex-start;
  padding: 8px 20px;
  align-items: baseline;
  justify-content: space-between;
}

.panel-body {
  padding: 30px;
  background: #ffffff;
}

.text-sm {
  font-size: .8em;
}

.justify.mat-grid-tile .mat-figure {
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

.grid-container {
  display: grid;
  grid-gap: 15px;
}

.no-input-pad {
  .mat-form-field-wrapper {
    padding: 0 !important;
  }

  .mat-form-field-prefix {
    top: 0 !important;
    color: $light-gray;
  }
}

.mat-input-sm {
  width: 120px;
  height: 40px;

  .mat-form-field-infix {
    padding: .5em 0 .5em 0 !important;
  }
}

.common-info-column {
  padding: 30px 50px;
  background-color: $extra-light-gray;
}

h3.popover-header {
  color: #000 !important;
}

button:focus {
  outline: none;
}

.badge-help {
  color: #000;
  background-color: $blue-green;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


// Highcharts legend formatting
.hc-partner-badge {
  border-radius: 25px;
  white-space: nowrap;
  margin: 2px 0;
  position: relative;
  text-align: left;
  padding: 3px 10px;
  min-width: 160px;
  display: inline-block;
}
// hc-matter-badge
.hc-matter-badge {
  border: 1px solid $body-color;
  border-radius: 25px;
  white-space: nowrap;
  margin: 2px 0;
  font-weight: bold;
  // position: relative;
  text-align: center;
  padding: 3px 10px;
  min-width: 160px;
  display: inline-block;
}
.highcharts-tooltip {
  padding: 9px;
  background-color:white;
  opacity:1;
  z-index:9999 !important;
}
// elements
.span-clear {
  text-decoration: underline;
  cursor: pointer;
  margin-left: 20px;
}

.border-bottom:not(:last-child) {
  padding-bottom: 15px;
  border-bottom: 1px $card-header-gray solid;
}

.small-title {
  font-style: italic;
  font-size: 0.9rem;
}
.footer-collapsed {
  margin-left:0 !important;
}

.filter-group-label {
  border: 1px solid;
  border-radius: 5px;
  padding: 0 5px 0 10px;
  margin: 10px 10px 10px 0;
  cursor: pointer;
  float: left;
  position: relative;
}

.pill {
  display: inline-block;
  min-width: 10px;
  margin: 9px 0;
  padding: 3px 7px;
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  // line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: $blue-color;
  border-radius: 10px;
}
:host ::ng-deep {
  .btn-group > .btn.active {
    z-index: 1;
  }
}
//


.bh-date-range .md-drppicker{
  width: 620px !important;
  margin-top: 40px;
}
.filter-group-label.bh-date-range {
  padding:0;
  width:220px;
}
.error-class {
  border: 2px solid red !important;
}
.error-mes-sm{
  font-style: italic;
  font-size:10pt;
  color: red;
}
.filter-group-label {
  max-height: 38px;
}
.btn-primary {
  color: #fff;
  background-color: #F7921E !important;
  border: 1px solid transparent   !important;;
  font-size: 13px !important;;
}
.user-block-name {
  color: #b2b2b2 !important;
}
.form-control {
  font-size: 0.9rem !important;
  color: #929292 !important;
  display: inline-block !important;
}
