/* You can add global styles to this file, and also import other style files */
//@import "../node_modules/simple-line-icons/scss/simple-line-icons.min.scss";
@import "./assets/styles/variables";
@import "./assets/styles/media-queries.scss";
@import "./assets/styles/spacings.scss";
@import "./assets/styles/colors.scss";
@import "./assets/styles/layout.scss";
@import '~@angular/material/theming';

@include mat-core();
@import "./assets/styles/mat-theme.scss";
@import "./assets/styles/mat-overrides.scss";
@import "./assets/styles/prime-ng-overrides.scss";
@import "./assets/styles/ag-grid-overrides.scss";
@import "~material-icons/iconfont/material-icons.css";
@import '~bootstrap/scss/bootstrap';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* sharpsans */
@font-face {
  font-family: 'Sharp Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Sharp Sans'), local('Sharp Sans'), url(./assets/fonts/sharpsans/SharpSans-Medium.woff2) format('woff2');
}
/* sharpsans display bold */
@font-face {
  font-family: 'Sharp Sans Display';
  font-style: normal;
  font-weight: 700;
  src: local('Sharp Sans Display'), local('Sharp Sans Display'), url(./assets/fonts/sharpsansdisplay/SharpSansDispNo1-Bold.woff2) format('woff2');
}
//@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
//@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";
//
//.ag-theme-alpine {
//  @include ag-theme-alpine((
//    odd-row-background-color: #ffffff
//  ));
//}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: $body-bg;
  color: $body-color;
  font-size: 15px;
}
h1, h2, h3, h4, h5, h6, th {
  font-family: "Sharp Sans Display", sans-serif !important;
}

.pointer-hand {
  cursor: pointer;
}

.font-bold {
  font-weight: 600;
}
.font-qbr-primary {
  color: $qbr-primary;
}

.no-border {
  border: none;
}

.visibility-hidden {
  visibility: hidden;
}

// COLORS
.color-blue {
  background-color: $brand-info;
}

.color-light-blue {
  background-color: $brand-secondary-ltr;
}

.color-green-dark {
  background-color: #0E7D4A;
}

.color-green {
  background-color: $brand-success;
}

.color-orange {
  background-color: $brand-primary;
}

.color-gray {
  background-color: $medium-gray;
}

.color-pink {
  background-color: $brand-pink;
}

.color-purple {
  background-color: $brand-purple;
}

.color-yellow {
  background-color: $brand-yellow;
}

.color-inv {
  background-color: $brand-inv;
}

.color-comp-dk {
  background-color: $brand-comp-dk;
}

.color-primary-md {
  background-color: $brand-primary-md;
}


.color-red {
  color: $brand-danger;
}

.bg-white {
  backgorund-color: #fff;
}

.bg-orange {
  background-color: $brand-primary;
}

.bg-light-green {
  background-color: #c5ffbf;
}

.bg-light-gray {
  background-color: #cccccc;
}
// FONTS
.font-normal {
  font-size: 0.9rem;
}
.font-bigger {
  font-size: 1.1rem;
}
.form-controls {
  margin-top: 25px;
  margin-bottom: 25px;
}

.font-body {
  color: $body-color;
}

.font-red {
  color: red !important;
}
.font-white {
  color: #fff;
}
.font-green {
  color: darkgreen !important;
}
.font-qbr-green {
  color: $qbr-green;
}

.error {
  color: red;
  font-size: 10pt;
}

.clear-both {
  clear: both;
  float: none;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.align-top {
  valign: top;
}

.center-screen {
  margin: auto;
}

.inline-block {
  display: block;
}
.display-inline {
  display: inline;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-underline {
  text-decoration: underline;
}
.relative-pos {
  position: relative;
}

.full-width {
  width: 100%;
}
.justify-start {
  display: flex;
  justify-content: flex-start;
}
.justify-between {
  display: flex;
  justify-content: space-between;
}
.justify-around {
  display: flex;
  justify-content: space-around;
}
.justify-center {
  display: flex;
  justify-content: center;
}
.button-disabled {
  background-color: $medium-gray !important;
}

.left-right-align {
  display: flex;
  justify-content: space-between;
}
a:hover {
  color:$brand-orange !important;
}
.href-link-primary {
  cursor: pointer;
  color: $body-color;
  text-decoration: underline;
}
.light-badge {
  background-color: #fff;
  color: $body-color;
  border: 1px solid $body-color;
  border-radius: 16px;
  padding: 4px 16px;
  min-width: 100px;
  display: inline-block;
  text-align: center;
}
.href-link-secondary {
  cursor: pointer;
  color: $secondary-link;
  text-decoration: underline;
}
.text-gray {
  color:$medium-gray;
  font-weight: normal;
}
body .ui-dropdown, .ui-inputtext {
  border-color: $body-color !important;
}
.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 40px;
  height: 40px;
  z-index: 1234;
  opacity: 1 !important;
}

.spinner-card {
  position: absolute;
  top: 55%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 20px;
  height: 20px;
  z-index: 1234;
  opacity: 1 !important;
}
.primary-pill {
  font-size: 0.8rem;
  border-radius: 25px;
  border: 1px solid $body-color;
  background-color: $body-color;
  color: #fff;
  padding: 3px 10px;
  display: inline-block;
  text-align: center;
}
.totals-badge {
  color: #fff;
  border-radius: 25px;
  padding: 3px 10px;
  min-width: 90px;
  display: inline-block;
  text-align: center;
}

.totals-numbers {
  background-color: $body-color;
}
.oval-label-white {
  background-color: #fff;
  color: $body-color;
}

.totals-percent {
  color: #fff;
  background-color: $body-color;
}

.panel-wrapper {
  padding: 24px 16px 16px 24px;
  width: 100%;
  background-color: #fff;
  color: $body-color;
  border: 1px solid #fff;
  border-radius: $card-panel-radius;
}
.black-border {
  border-color: $body-color;
}

.panel-title {
  color: $body-color;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  justify-content: space-between;
}

.panel-body {
  padding: 30px;
  background: #ffffff;
}

.text-sm {
  font-size: .8em;
}

.justify.mat-grid-tile .mat-figure {
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

.grid-container {
  display: grid;
  grid-gap: 15px;
}

.common-info-column {
  padding: 30px 50px;
}

h3.popover-header {
  color: #000 !important;
}

button:focus {
  outline: none !important;
}

html, body {
  height: 100%;
  font-size: 15px;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Sharp Sans Display", sans-serif !important;
}

.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.no-right-padding {
  padding-right: 0 !important;
}
.no-left-padding {
  padding-left: 0 !important;
}
.no-padding-top {
  padding-top: 0 !important;
}
// Highcharts legend formatting
.hc-partner-badge {
  border-radius: 25px;
  white-space: nowrap;
  margin: 2px 0;
  position: relative;
  text-align: left;
  padding: 3px 10px;
  min-width: 160px;
  display: inline-block;
}
.hc-matter-badge {
  border: 1px solid $body-color;
  border-radius: 25px;
  white-space: nowrap;
  margin: 2px 0;
  font-weight: bold;
  text-align: center;
  padding: 3px 10px;
  min-width: 160px;
  display: inline-block;
}
.highcharts-tooltip {
  padding: 9px;
  background-color:white;
  opacity:1;
  z-index:9999 !important;
}
// elements
.span-clear {
  text-decoration: underline;
  cursor: pointer;
  margin-left: 20px;
}

.border-bottom:not(:last-child) {
  padding-bottom: 15px;
  border-bottom: 1px $card-header-gray solid;
}

.small-title {
  font-style: italic;
  font-size: 0.9rem;
}
.footer-collapsed {
  margin-left:0 !important;
}
// FILTER OVERRIDES
.filter-group-label.bh-date-range {
  padding-left: 0;
  padding-right: 0;
}
.filter-group-label-rd .btn-range {
  padding-right: 0;
}
.filter-group-label {
  padding: 0 10px 0 10px;
  margin: 10px 5px 10px 0;
  cursor: pointer;
  float: left;
  position: relative;
}
.clear-button{
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid;
  border-radius: 4px;
  background-color: $gray-blue-bg;
  border-color:$gray-blue-bg;
  color: $body-color;
}
.apply-button {
  padding: 10px 20px;
}
.primary-button {
  background-color: $body-color;
  color: #fff;
  font-family: "Sharp Sans";
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.secondary-button {
  background-color: $medium-gray;
  color: #fff;
}
:host ::ng-deep {
  .btn-group > .btn.active {
    z-index: 1;
  }
  .ui-button {
    border-color: $body-color;
  }
}

// END OF FILTER OVERRIDES
.error-class {
  border: 2px solid red !important;
}
.error-mes-sm{
  font-style: italic;
  font-size:10pt;
  color: red;
}
.btn-primary {
  color: #fff;
  background-color: $body-color !important;
  border: 1px solid transparent   !important;;
  font-size: 13px !important;;
}
.user-block-name {
  color: #9098a5 !important;
}
.form-control {
  font-size: 0.9rem !important;
  color: $body-color !important;
  display: inline-block !important;
}
.fa-navicon {
  color: #fff !important;
}
.filter-button {
  .fa-save {
  font-size: 24px !important}
}
.badge-help {
  font-size: 1rem;
  cursor: pointer;
  color: $body-color;
  border: 1px $light-gray solid;
}
.table-row {
  border-bottom: 1px solid $body-bg;
}
.bm-border-bottom {
  border-bottom: 1px solid  $gray-blue-bg;
}
.page_description {
  padding-left: 35px !important;
  font-family: 'Sharp Sans';
}
.subtitle {
  font-family: 'Sharp Sans';
}
.freshedesk_article {
  p {
    margin: 0;
    color: black;
  }
  img {
    max-width:100%;
  }
}
.mat-tooltip {
  font-size: 14px !important;
}
.notes-wrapper {
  margin:0 !important;
  width: 100% !important
}
.bg-cover {
  background-image: url(assets/images/qbr-images/BG_Cover.png);
  background-repeat: no-repeat;
}
.bg-1 {
  background-image: url('assets/images/qbr-images/BG_blue_corner.svg');
  background-repeat: no-repeat;
}
.bg-2 {
  background-image: url('assets/images/qbr-images/BG_gray_corner.svg');
  background-repeat: no-repeat;
}
.bg-monitor {
  background-image: url('assets/images/qbr-images/BG_monitor.svg');
  background-repeat: no-repeat;
}





