<div class="qbr-metric-header justify-center" *ngIf="!secondRow">
  <div> <img alt="icon" src="assets/images/{{item?.icon}}" class="qbr-icon mb5 mr5 ml5 text-right" [ngClass]="{'qbr-icon-sm': item?.label && item?.label === 'BPI'}"></div>
  <div class="qbr-label qbr-label-sm text-center"
       [ngClass]="{'mt10': item?.label && item?.label.length < 8, 'mr40': item?.label && item?.label.indexOf('Associate') < 0, 'mr20': item?.label && item?.label.indexOf('Associate') > 0}">{{item?.label}}</div>
</div>
<div class="pb20" [ngClass]="{'metrics-div-border': index > 0 && !secondRow}">
  <div class="mb20 qbr-dollar-label">${{item?.amount | number:'1.0-0'}}</div>
  <div>
    <bd-yoy-number-widget [direction]="item?.direction" [increase]="item?.percent"  [qbrType]="qbrType"
                          [size]="'md'"></bd-yoy-number-widget>

  </div>
</div>
