.peer-firms {
  float: right;
  background: #DEE8EB;
  border-radius: 72px;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 105px;
  padding: 8px 0px;
}

h3 {
  font-family: 'Roboto Bold' !important;
  font-size: 40px;
  padding-top: 1em;
}

.header-span {
  font-weight: 700;
  font-family: 'Roboto Bold';
  display: inline;
  font-size: 24px !important;
  padding-left: 1em;
}

.firm-name-pill {
  background: #FFFFFF;
  font-family: 'Roboto Bold';
  border-radius: 100px;
  font-size: 14px;
  padding: 0px 6px;
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 0.4em;
}
