$middle-gray: #4d5053;
$body-color: #888;
$main-red: #C00000;
$bootstrap-blue: #329bd8;
$darker-gray: #808080;
$medium-gray : #aaaaaa;
$light-gray : #cccccc;
$very-light-blue: #EBF7FF;
$navy-blue: #366092;
$light-green: #D8E4BC;
$light-pink: #F2DCDB;
$border-blue: #797d7e;
$green-check: #1f9c3d;
$blue-green: #56DEBD;
$excelent-color: #87E184;
$red-color: #FC615A;
$fair-color: #FFDF35;
$card-header-gray: #e4eaec;
$card-header-border-gray: #cfdbe2;
$extra-light-gray: #fafafa;
$yellow: #FFE457;
$primary-link: #6A9DE6;
$secondary-link:  #515253;
$blue-color:  #007ad9;
$very-light-gray: #e4eaec;
$chart-bar-gray: #E5EAEC;
