<div class="ui-g utbms mt5 mb5">
    <div class="ui-g-4 banner">
      <div class="text-uppercase font-bold">UTBMS</div>
    </div>
    <div class="ui-g-4">
      <div *ngIf="optionsUTBMS">
        <chart [options]="optionsUTBMS" (load)="saveInstanceUTBMS($event.context)" width="100%"></chart>
        <div chart-key text-center mt5  style="text-align: center" *ngIf="chartUTBMS?.series && chartUTBMS?.series.length === 2 && chartUTBMS?.series[0].data && chartUTBMS?.series[0].data[0]">
          <bd-bodhala-chart-legend [label]="chartUTBMS?.series[0].data[0].data[0].name" [color]="chartUTBMS?.series[0].data[0].data[0].color" ></bd-bodhala-chart-legend>
          <!-- <bd-bodhala-chart-legend [label]="chartUTBMS?.series[1].data[0].data[0].name" [color]="chartUTBMS?.series[1].data[0].data[0].color"></bd-bodhala-chart-legend> -->
        </div>
      </div>
  
    </div>
    <div class="ui-g-4">
      <div *ngIf="optionsTaxonomy">
        <chart [options]="optionsTaxonomy" (load)="saveInstanceTaxonomy($event.context)" width="100%"></chart>
      </div>
      <div chart-key text-center mt5 *ngIf="optionsTaxonomy?.series && optionsTaxonomy?.series[0].data && optionsTaxonomy?.series[0].data[0]" style="text-align: center">
        <bd-bodhala-chart-legend [label]="optionsTaxonomy?.series[0].data[0].name" [color]="optionsTaxonomy?.series[0].data[0].color"></bd-bodhala-chart-legend>
        <bd-bodhala-chart-legend [label]="optionsTaxonomy?.series[1]?.data[0]?.name" [color]="optionsTaxonomy?.series[1]?.data[0]?.color"></bd-bodhala-chart-legend>
      </div>
    </div>
  
  </div>

  
  
