<div class="ui-g panel-wrapper">
  <h4>
    Spend by Utbms Code
  </h4>
  <div class="clear-both"></div>
    <div class="ui-md-12 ui-lg-6 no-left-padding left">
        <div *ngIf="userService.hasEntitlement('analytics.utbms.codes')">
            <chart [options]="optionsUTBMS" (load)="saveInstanceUTBMS($event.context)" width="100%"></chart>
        </div>

    </div>
    <div class="ui-md-12 ui-lg-6 no-right-padding right">
        <div *ngIf="userService.hasEntitlement('analytics.phase.taxonomy')">
            <chart [options]="optionsTaxonomy" (load)="saveInstanceTaxonomy($event.context)" width="100%"></chart>
        </div>
    </div>
</div>




