@import "../../../../assets/styles/colors.scss";
@import "../../../../assets/styles/_variables.scss";

.hours-div {
  padding: 0 3px;
  text-align: center;
  min-width: 100px;
}
.qbr-tk-label-lg {
  font-size: 22px;
}
.qbr-tk-label-md {
  font-size: 22px;
}
.qbr-tk-label-sm {
  font-size: 12px;
}
