<div style="padding: 0px 16px 16px 24px; background: #E9F1F4;" id="exportDiv">
  <div style="display: inline-flex;">
    <button class="back-button" *ngIf="commonServ.showWrapper()" (click)="goBack()" data-html2canvas-ignore="true" style="height: 42px;"><i class="fa fa-chevron-left" style="font-size: 12px; margin-right: 6px !important;"></i> Back</button>

    <div style="display: inline !important; background: white; border-radius: 16px; margin: 0px 32px; padding: 8px 16px; max-height: 124px; width: 480px;" *ngIf="benchmark"
         [ngStyle]="{'margin-left': commonServ.showWrapper() ? '32px' : 0}">
      <div style="display: inline !important; background: white; border-radius: 16px;">
        <p style="margin-bottom: 0px; line-height: 1.5em;">
          <span style="padding-left: 0em !important; font-family: 'Roboto Bold'; font-size: 16px !important;">Firm: </span>
          <span style="color: #000000; font-family: 'Roboto' !important; font-size: 16px;"> {{firmName}}</span>
        </p>

        <p style="margin-bottom: 0px; line-height: 1.5em;">
          <span style="padding-left: 0em !important; font-family: 'Roboto Bold'; font-size: 16px !important;">Practice Area(s): </span>
          <span *ngIf="practiceArea.length < 12" style="color: #000000; font-family: 'Roboto' !important; font-size: 16px;">
            <!-- {{practiceArea}} -->
            <div style="display: inline;" *ngFor="let pa of practiceArea; let last = last;">
              <span *ngIf="!last">{{pa}}, </span>
              <span *ngIf="last">{{pa}}</span>
            </div>
          </span>
          <span *ngIf="practiceArea.length === 12" style="color: #000000; font-family: 'Roboto' !important; font-size: 16px;">All PAs</span>
        </p>

        <p style="margin-bottom: 0px; line-height: 1.5em;">
          <span class="header-span" style="padding-left: 0em !important; font-family: 'Roboto Bold'; font-size: 16px !important;">Year(s): </span>
          <span *ngIf="year.length === 1" style="color: #000000; font-family: 'Roboto' !important; font-size: 16px;"> {{year}}</span>
          <span *ngIf="year.length > 1" style="display: inline; color: #000000; font-family: 'Roboto' !important; font-size: 16px;">
            <div style="display: inline;" *ngFor="let y of year; let last = last;">
              <span *ngIf="!last">{{y}}, </span>
              <span *ngIf="last">{{y}}</span>
            </div>
          </span>
        </p>

      </div>
    </div>

    <div class="peer-firms" *ngIf="loaded">
      <bd-comparison-firms [marketFirms]="marketAvgFirms" [panelFirms]="internalFirms" [benchmark]="benchmark"></bd-comparison-firms>
    </div>

  </div>

  <h3 style="padding-bottom: 20px;">Timekeeper Level Benchmarks<br>& Cost Analysis</h3>

  <div class="nav-wrapper">
    <div class="nav-pill" style="order: 0;" (click)="goToOverviewPage()">
      Rates Overview
    </div>
    <div class="nav-pill" style="order: 1; background: black; color: white;">
      Timekeeper Level Analysis
    </div>
    <div [hidden]="!userService.hasEntitlement('rate.benchmarking.tks')" class="nav-pill" style="order: 2;"  (click)="goToNamedTKPage()">
      Named Timekeeper Analysis
    </div>
    <button #tooltip="matTooltip" matTooltip="Export this page to PDF" data-html2canvas-ignore="true" class="download-button" (click)="export()" [disabled]="commonServ.pdfLoading" [ngClass]="{'button-disabled': commonServ.pdfLoading}">
      <img src="assets/images/Downloads.svg" style="filter: invert(100%) sepia(90%) saturate(39%) hue-rotate(135deg) brightness(110%) contrast(111%);" width="16px" height="16px" alt="icon"/>
    </button>
  </div>

  <div *ngFor="let in of counter(numPartnerTiers); let i = index;">
    <div class="panel-wrapper mt40" style="padding: 0px !important;" [hidden]="numPartnerTiers === 4 && i === 2">
      <div>
        <bd-granular-rate-chart *ngIf="loaded" [classification]="'partner'" [tier]="i + 1" [overallSpendData]="overallSpendData" [numTiers]="numPartnerTiers"
                                [firmName]="firmName" [marketData]="partnerMarketData" [internalData]="partnerInternalData" [firmPartnerSeniorityData]="firmPartnerSeniorityData"
                                [benchmark]="benchmark" [cluster]="cluster" [totalHours]="totalHours"></bd-granular-rate-chart>
      </div>
    </div>
  </div>

  <div class="panel-wrapper mt40" style="padding: 0px !important;">
    <div>
      <bd-granular-rate-chart *ngIf="loaded" [classification]="'associate'" [seniority]="'Junior'" [marketData]="juniorAssociateMarketData" [internalData]="juniorAssociateInternalData"
                              [firmName]="firmName" [totalSeniorityHours]="juniorAssocFirmHours" [seniorityFirmRate]="juniorAssocFirmRate" [benchmark]="benchmark" [firmAssociateSeniorityData]="firmAssociateSeniorityData" [cluster]="cluster" [totalHours]="totalHours"></bd-granular-rate-chart>
    </div>
  </div>

  <div class="panel-wrapper mt40" style="padding: 0px !important;">
    <div>
      <bd-granular-rate-chart *ngIf="loaded" [classification]="'associate'" [seniority]="'Mid-Level'" [marketData]="midAssociateMarketData" [internalData]="midAssociateInternalData"
                              [firmName]="firmName" [totalSeniorityHours]="midAssocFirmHours" [seniorityFirmRate]="midAssocFirmRate" [benchmark]="benchmark" [firmAssociateSeniorityData]="firmAssociateSeniorityData" [cluster]="cluster" [totalHours]="totalHours"></bd-granular-rate-chart>
    </div>
  </div>

  <div class="panel-wrapper mt40" style="padding: 0px !important;">
    <div>
      <bd-granular-rate-chart *ngIf="loaded" [classification]="'associate'" [seniority]="'Senior'" [marketData]="seniorAssociateMarketData" [internalData]="seniorAssociateInternalData"
                              [firmName]="firmName" [totalSeniorityHours]="seniorAssocFirmHours" [seniorityFirmRate]="seniorAssocFirmRate" [firmAssociateSeniorityData]="firmAssociateSeniorityData" [benchmark]="benchmark" [cluster]="cluster" [totalHours]="totalHours"></bd-granular-rate-chart>
    </div>
  </div>

  <div class="mt10" style="font-family: 'Roboto';">
    Benchmark Data Last Refreshed: {{lastUpdated | date: 'longDate'}}
  </div>

</div>
