<div style="padding: 0px 16px 16px 24px;">
  <div style="display: inline !important; padding: 8px 28px 8px 0px;">
    <button class="back-button" (click)="goBack()"><i class="fa fa-chevron-left" style="font-size: 12px; margin-right: 6px !important;"></i> Back</button>

    <div style="display: inline; background: white; border-radius: 100px; padding: 8px 28px 8px 28px;">
      <span class="header-span" style="padding-left: 0em !important; font-size: 16px !important; font-weight: 400 !important;">Firm: </span>
      <span style="color: #000000; font-family: 'Roboto' !important; font-size: 16px;">{{firmName}}</span>

      <span class="header-span" style="margin-left: 2em; font-size: 16px !important; font-weight: 400 !important;">Practice Area: </span>
      <span style="color: #000000; font-family: 'Roboto' !important; font-size: 16px;">{{practiceArea}}</span>

      <span class="header-span" style="margin-left: 2em; font-size: 16px !important; font-weight: 400 !important;">Year: </span>
      <span style="color: #000000; font-family: 'Roboto' !important; font-size: 16px;">{{year}}</span>
    </div>

    <div class="peer-firms" *ngIf="loaded">
      <p style="text-align: center; font-family: 'Roboto Bold' !important; font-size: 14px;">Comparison Peer Firms</p>
      <div id="peerFirmsDisplay" style="line-height: 2em; height: 4.8em; overflow: clip; text-align: center; margin-top: -0.75em; font-family: 'Roboto Bold' !important; font-size: 14px;">
        <div *ngFor="let firm of peerFirms; let i = index; let last = last; let first = first;" style="display: inline;">
          <div class="firm-name-pill">{{firm}}</div>
          <span style="background: #DEE8EB important; " *ngIf="last"> & others...</span>
        </div>
      </div>
    </div>
  </div>

  <h3 style="padding-bottom: 40px;">Timekeeper Level Benchmarks<br>& Cost Analysis</h3>

  <div *ngFor="let in of counter(numPartnerTiers); let i = index;">
    <div class="panel-wrapper mt40" style="padding: 0px !important;" [hidden]="numPartnerTiers === 4 && i === 2">
      <div>
        <bd-granular-rate-chart *ngIf="loaded" [classification]="'partner'" [tier]="i + 1" [overallSpendData]="overallSpendData" [numTiers]="numPartnerTiers"
                                [firmName]="firmName" [firmSpendData]="firmYearData" [benchmark]="benchmark" [cluster]="cluster" [totalHours]="totalHours"></bd-granular-rate-chart>
      </div>
    </div>
  </div>

  <div class="panel-wrapper mt40" style="padding: 0px !important;">
    <div>
      <bd-granular-rate-chart *ngIf="loaded" [classification]="'associate'" [seniority]="'Junior'" [overallSpendData]="overallSpendData"
                              [firmName]="firmName" [benchmark]="benchmark" [firmSpendData]="firmYearData" [cluster]="cluster" [totalHours]="totalHours"></bd-granular-rate-chart>
    </div>
  </div>

  <div class="panel-wrapper mt40" style="padding: 0px !important;">
    <div>
      <bd-granular-rate-chart *ngIf="loaded" [classification]="'associate'" [seniority]="'Mid-level'" [overallSpendData]="overallSpendData"
                              [firmName]="firmName" [benchmark]="benchmark" [firmSpendData]="firmYearData" [cluster]="cluster" [totalHours]="totalHours"></bd-granular-rate-chart>
    </div>
  </div>

  <div class="panel-wrapper mt40" style="padding: 0px !important;">
    <div>
      <bd-granular-rate-chart *ngIf="loaded" [classification]="'associate'" [seniority]="'Senior'" [overallSpendData]="overallSpendData"
                              [firmName]="firmName" [firmSpendData]="firmYearData" [benchmark]="benchmark" [cluster]="cluster" [totalHours]="totalHours"></bd-granular-rate-chart>
    </div>
  </div>

</div>
