<h1 mat-dialog-title>Saved Reports for {{commonServ.pageSubtitle}}</h1>
<div mat-dialog-content>
    <table>
        <tr>
            <th>Save Date</th>
            <th>Saved By</th>
            <th>Report Start Date</th>
            <th>Report End Date</th>
            <th>Saved View</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let item of savedReportData">
            <td>{{item.print_date}}</td>
            <td>{{item.username}}</td>
            <td>{{item.startdate}}</td>
            <td>{{item.enddate}}</td>
            <td *ngIf="item.saved_view">{{item.saved_view}}</td>
            <td *ngIf="!item.saved_view">N/A</td>
            <td><button #tooltip="matTooltip" matTooltip="View this report" class="action-button" (click)="loadSavedExport(item)"><i class="fa fa-eye"></i></button><button #tooltip="matTooltip" matTooltip="Delete this report" class="action-button" (click)="deleteSavedExport(item)"><i class="fa fa-trash-o"></i></button></td>
        </tr>
    </table>
</div>
